### Crash course on Python by Google

In [5]:
9**(1/2)

3.0

In [13]:
numbers = {1,2,3,4,5,6}
result = []
for n in numbers:
    result =[n,(n + 1)]
    print(result)

[1, 2]
[2, 3]
[3, 4]
[4, 5]
[5, 6]
[6, 7]

In [14]:
# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
	sum = sum+val

print("The sum is", sum)

The sum is 48

loc es para label del index

iloc is position de 0 a -1 (-1 el ultimo)

In [6]:
letters = "a,b,c,d,e,f"
for i in letters:
    if i != letters:
        print(letters*letters)

TypeError: can't multiply sequence by non-int of type 'str'

In [14]:
26**6

308915776

In [15]:
disk_size = 16*1024*1024*1024
sector_size = 512
sector_amount = disk_size/sector_size
disk_size
print(sector_amount)

33554432.0

In [16]:
disk_size

17179869184

### Data types

In [2]:
print(type("hola"))

<class 'str'>

In [3]:
print(type(5))

<class 'int'>

## Variables

In [1]:
base = 10
height = 2
area = base * height
print(area)

20

In [7]:
total = 2048 + 4357 + 97658+125 +8
files = 5
average = total / files
print("the average size is " + ' ' + str(average))

the average size is  20839.2

In [ ]:
word1 = "How"
word2 = "do"
word3 = "you"
word4 = "like"
word5 = "Python"
word6 = "so"
word7 = "far?"

print(word1+' '+word2+' '+word3+' '+word4+' '+word5+' '+word6+' '+word7)

## Define functions

In [8]:
def greeting(name):
    print("hello, " + name)

In [14]:
greeting('momo')

hello, momo

In [15]:
def greeting(name, department):
    print("Welcome, " + name)
    print("your are from " + department)

In [16]:
greeting("momo", 'pets')

Welcome, momo
your are from pets

In [18]:
def print_seconds(hours, minutes, seconds):
    print(hours*3600 + minutes * 60 + seconds)

print_seconds(2,2,3)

7323

In [19]:
def area_triangle(base, height):
    return base*height/2

In [23]:
area_triangle(5, 4) + area_triangle(7, 3)

20.5

In [26]:
def convert_seconds(seconds):
    hours= seconds // 3600
    minutes = (seconds - hours * 3600) //60
    remaining_seconds = seconds - hours *3600 - minutes *60
    return hours, minutes, seconds

hours, minutes, seconds = convert_seconds(5000)
print(hours, minutes, seconds)

1 23 5000

In [2]:
myname = "Valreds"
mynumber = len(myname) * 9
print("Hello " + myname + ". Your lucky number is "+ str(mynumber))

Hello Valreds. Your lucky number is 63

In [9]:
def lucky_number(name):
    number = len(name)*9
    print("hello " + name + ". Your lucky number is " + str(number))
    
lucky_number('momo')

hello momo. Your lucky number is 36

In [8]:
lucky_number("valreds")

hello valreds. Your lucky number is 63

In [10]:
june_days = 30
print("June has " + str(june_days) + " days.")
july_days = 31
print("July has " + str(july_days) + " days.")

June has 30 days.
July has 31 days.

In [11]:
# REPLACE THIS STARTER CODE WITH YOUR FUNCTION
def month_days(month, days):
    print(month + " has " + str(days) + " days.")
month_days("April", 30)
month_days("June", 30)
month_days("July", 31)

April has 30 days.
June has 30 days.
July has 31 days.

In [8]:
def circle_area(radius):
    pi = 3.14
    area = pi * (radius**2)
    print("The area of a circle with a radius of " + str(radius) + " is " + str(area) )
    #or print area only
    #print(area)

In [9]:
circle_area(15)

The area of a circle with a radius of 15 is 706.5

In [10]:
def rectangle_area(base, height):
    area_rectangle = base*height  # the area is base*height
    print("The area is " + str(area_rectangle))

In [11]:
rectangle_area(5, 9)

The area is 45

In [7]:
# 1) Complete the function to return the result of the conversion
def convert_distance(miles):
    km = miles * 1.6  # approximately 1.6 km in 1 mile
    return(km)

my_trip_miles = 55

# 2) Convert my_trip_miles to kilometers by calling the function above
my_trip_km = convert_distance(55)

# 3) Fill in the blank to print the result of the conversion
print("The distance in kilometers is " + str(my_trip_km))

# 4) Calculate the round-trip in kilometers by doubling the result,
#    and fill in the blank to print the result
round_trip = my_trip_km **2
print("The round-trip in kilometers is " + str(round_trip))

The distance in kilometers is 88.0
The round-trip in kilometers is 7744.0

In [9]:
# This function compares two numbers and returns them
# in increasing order.
def order_numbers(number1, number2):
    if number2 > number1:
        return number1, number2
    else:
        return number2, number1

# 1) Fill in the blanks so the print statement displays the result
#    of the function call
small, big = order_numbers(300, 301)
print(small, big)

300 301

In [ ]:
# 1. Complete the function to return the result of the conversion
# def convert_distance(miles):
#     km = miles * 1.6  # approximately 1.6 km in 1 mile
#     return(km)

# my_trip_miles = 55

# # 2) Convert my_trip_miles to kilometers by calling the function above
# my_trip_km = convert_distance(my_trip_miles)

# # 3) Fill in the blank to print the result of the conversion
# print("The distance in kilometers is " + str(convert_distance(my_trip_miles)))

# # 4) Calculate the round-trip in kilometers by doubling the result,
# #    and fill in the blank to print the result
# print("The round-trip in kilometers is " + str((convert_distance(my_trip_miles)**2)))

### Conditionals and operators

In Python, we can use comparison operators to compare values. When a comparison is made, Python returns a boolean result, or simply a True or False. 

To check if two values are the same, we can use the equality operator: == 
To check if two values are not the same, we can use the not equals operator: != 
We can also check if values are greater than or lesser than each other using > and <. If you try to compare data types that aren’t compatible, like checking if a string is greater than an integer, Python will throw a TypeError. 

We can make very complex comparisons by joining statements together using logical operators with our comparison operators. These logical operators are and, or, and not. When using the and operator, both sides of the statement being evaluated must be true for the whole statement to be true. When using the or operator, if either side of the comparison is true, then the whole statement is true. Lastly, the not operator simply inverts the value of the statement immediately following it. So if a statement evaluates to True, and we put the not operator in front of it, it would become False.

In [10]:
print(10<9)
print(10>20)
print("cat" == "dog")
print("momo" != "timi")

False
False
False
True

In [14]:
#Logical operators are and, or, not
print("yellow" > "Blue" and "brown" > "magenta" )
#with and, is true if both statements are true

False

In [15]:
print(25 > 50 or 1 != 2)
#with or, it returns true if either statement is true

True

the not operator inverts the value of the expression that's in front of it. If the expression is true, it becomes false. If it's false, it becomes true.

In [16]:
print(not 45 == 59)

True

#### if / else branching

In [26]:
#verificar el numero de caracteres para un user id
#verify the length of a string
def valid_userid(user_id):
    if len(user_id) < 3:
        print("Invalid user name. User must be at least 3 characters long")
    else:
        print("Valid user name.")

In [25]:
valid_userid("Pepe")
valid_userid("va")

Valid user name.
Invalid user name. User must be at least 3 characters long

In [29]:
#check whether a number is positive or negative
def is_positive(number):
  if number > 0:
    return True
  else:
    return False

In [30]:
is_positive(-5)

False

In [36]:
#check if a number is even or odd
def is_odd(number):
    if number %2 == 0:
        return False
    return True
#the modulo operator (%) returns the remainder of the integer division between two numbers. 
#The integer division is an operation between integers that yields two results which are both integers, 
#the quotient and the remainder. Cociente y residuo. Modulo regresa el residuo

In [38]:
is_odd(7)

True

The modulo operator is represented by the percentage sign and returns the remainder of the integer division between two numbers. The integer division is an operation between integers that yields two results which are both integers, the quotient and the remainder. So if we do an integer division between 5 and 2, the quotient is 2 and the remainder is 1. If we do an integer division between 11 and 3, the quotient is 3 and the remainder is 2. Even numbers are all multiples of 2 which means **the remainder of the integer division between an even number and 2 is always going to be 0**. In this function, we're using this principle to decide whether a number is even or not.

In [39]:
def is_even(number):
    if number %2 == 0:
        return True
    return False

In [41]:
is_even(7)

False

The is_even function is not using the "else" statemente. This means that if the number is even, the computer will reach the return true statement and exit the function. Anything that comes after that will only be executed if the condition in the if statement was false. In other words, once the function reaches the return false line, we know for sure that the if condition was false which means the number was odd.

In [50]:
def greeting(name):
  if name == "Taylor":
    return "Welcome back Taylor!"
  else:
    return "Hello there, " + name

print(greeting("Taylor"))
print(greeting("John"))

Welcome back Taylor!
Hello there, John

In [54]:
def example_ten(number):
#numero mayor a 11
    if number > 11: 
      print(0)
#numero no igual a 10
    elif number != 10:
      print(1)
#numero mayor o igual a 12 pero menor a 12
    elif number >= 20 or number < 12:
      print(2)
    else:
      print(3)

example_ten(2)

1

#### elif statement

In [43]:
#verificar el numero de caracteres para un user id
#verify the length of a string
def valid_userid(user_id):
    if len(user_id) < 3:
        print("Invalid user name. User must be at least 3 characters long.")
    elif len(user_id) > 15:
        print("Invalid user name. User must be at least 3 characters long.")
    else:
        print("Valid user name.")

In [44]:
valid_userid("koediwsdfgjtudwert")

Invalid user name. User must be at least 3 characters long.

The main difference between elif and if statements is we can only write an elif block as a companion to an if block. That's because the condition of the elif statement will only be checked if the condition of the if statement wasn't true. So in this example, the program first checks whether the username is less than three characters long, and prints a message if that's the case. If the username has at least three characters, the program then checks if it's longer than 15 characters. If it is, we get a message to tell us that. Finally, if none of the above conditions were met, the program prints a message indicating that the username is valid.

In [47]:
def number_group(number):
  if number > 0:
    return "Positive"
  elif number < 0:
    return "Negative"
  else:
    return "Zero"

number_group(0)
#number_group(15)
#number_group(-5)

'Zero'

Students in a class receive their grades as Pass/Fail. Scores of 60 or more (out of 100) mean that the grade is "Pass". For lower scores, the grade is "Fail". In addition, scores above 95 (not included) are graded as "Top Score". Fill in this function so that it returns the proper grade.

In [68]:
def exam_grade(score):
    if score > 95:
        return("Top Score")
    elif score >= 60 and score <= 95:
        return("Pass")
    else:
        return("Fail")

print(exam_grade(65)) # Should be Pass
print(exam_grade(55)) # Should be Fail
print(exam_grade(60)) # Should be Pass
print(exam_grade(95)) # Should be Pass
print(exam_grade(100)) # Should be Top Score
print(exam_grade(0)) # Should be Fail

Pass
Fail
Pass
Pass
Top Score
Fail

### Conditionals Cheat Sheet
**Comparison operators**
- a == b: a is equal to b
- a != b: a is different than b
- a < b: a is smaller than b
- a <= b: a is smaller or equal to b
- a > b: a is bigger than b
- a >= b: a is bigger or equal to b

**Logical operators**
- a and b: True if both a and b are True. False otherwise.
- a or b: True if either a or b or both are True. False if both are False.
- not a: True if a is False, False if a is True.

**Branching blocks**

In Python, we branch our code using if, else and elif. This is the branching syntax:

if condition1:

 	if-block
    
elif condition2:

	elif-block
    
else:

	else-block
    
**Remember:** The if-block will be executed if condition1 is True. The elif-block will be executed if condition1 is False and condition2 is True. The else block will be executed when all the specified conditions are false.

In [49]:
(2**2)==4

True

#### practice quiz week 2

If a filesystem has a block size of 4096 bytes, this means that a file comprised of only one byte will still use 4096 bytes of storage. A file made up of 4097 bytes will use 4096*2=8192 bytes of storage. Knowing this, can you fill in the gaps in the calculate_storage function below, which calculates the total number of bytes needed to store a file of a given size?

In [59]:
def calculate_storage(filesize):
    block_size = 4096
    # Use floor division to calculate how many blocks are fully occupied
    full_blocks = filesize // block_size
    # Use the modulo operator to check whether there's any remainder
    partial_block_remainder = block_size % filesize // block_size
    # Depending on whether there's a remainder or not, return
    # the total number of bytes required to allocate enough blocks
    # to store your data.
    if partial_block_remainder > 0:
        return (block_size * full_blocks) + (partial_block_remainder * block_size)
    return block_size + (partial_block_remainder * block_size)

In [60]:
print(calculate_storage(1))    # Should be 4096
print(calculate_storage(4096)) # Should be 4096
print(calculate_storage(4097)) # Should be 8192
print(calculate_storage(6000)) # Should be 8192

4096
4096
8192
8192

#### Graded quiz week 2

In [72]:
#1. Complete the function by filling in the missing parts. The color_translator function receives the name of a color, then prints its hexadecimal value. Currently, it only supports the three additive primary colors (red, green, blue), so it returns "unknown" for all other colors.
def color_translator(color):
    if color == "red":
        return("#ff0000")
    elif color == "green":
        return("#00ff00")
    elif color == "blue":
        return("#0000ff")
    else:
        return("unknown")

print(color_translator("blue")) # Should be #0000ff
print(color_translator("yellow")) # Should be unknown
print(color_translator("red")) # Should be #ff0000
print(color_translator("black")) # Should be unknown
print(color_translator("green")) # Should be #00ff00
print(color_translator("")) # Should be unknown

#0000ff
unknown
#ff0000
unknown
#00ff00
unknown

In [73]:
#What's the value of this Python expression: "big" > "small"
print("big" > "small")

False

In [74]:
#4. Students in a class receive their grades as Pass/Fail. 
#Scores of 60 or more (out of 100) mean that the grade is "Pass". 
#For lower scores, the grade is "Fail". 
#In addition, scores above 95 (not included) are graded as "Top Score".
def exam_grade(score):
    if score > 95:
        return("Top Score")
    elif score >= 60 and score <= 95:
        return("Pass")
    else:
        return("Fail")

print(exam_grade(65)) # Should be Pass
print(exam_grade(55)) # Should be Fail
print(exam_grade(60)) # Should be Pass
print(exam_grade(95)) # Should be Pass
print(exam_grade(100)) # Should be Top Score
print(exam_grade(0)) # Should be Fail

Pass
Fail
Pass
Pass
Top Score
Fail

In [75]:
11% 5 #calcula el residuo

1

In [84]:
#6.  Complete the body of the format_name function. 
#This function receives the first_name and last_name parameters and then returns a properly formatted string
def format_name(first_name, last_name):
    if first_name and last_name:
        return("Name: "+ last_name +", "+ first_name)
    elif first_name:
        return("Name: " + first_name )
    elif last_name:
        return("Name: " + last_name)
    else:
        return("Name: ")


print(format_name("Ernest", "Hemingway"))
# Should return the string "Name: Hemingway, Ernest"

print(format_name("", "Madonna"))
# Should return the string "Name: Madonna"

print(format_name("Voltaire", ""))
# Should return the string "Name: Voltaire"

print(format_name("", ""))
# Should return an empty string

Name: Hemingway, Ernest
Name: Madonna
Name: Voltaire
Name:

In [77]:
#7. The longest_word function is used to compare 3 words. It should return the word with the most number of characters (and the first in the list when they have the same length). 
def longest_word(word1, word2, word3):
    if len(word1) >= len(word2) and len(word1) >= len(word3):
        return(word1)
    elif len(word2) >= len(word1) and len(word2) >= len(word3):
        return(word2)
    else:
        return(word3)

print(longest_word("chair", "couch", "table"))
print(longest_word("bed", "bath", "beyond"))
print(longest_word("laptop", "notebook", "desktop"))

chair
beyond
notebook

In [78]:
#8
def sum(x, y):
    return(x+y)

print(sum(sum(1,2), sum(3,4)))

10

In [71]:
#9.
((10 >= 5*2) and (10 <= 5*2))

True

In [85]:
#10 The fractional_part function divides the numerator by the denominator, and returns just the fractional part (a number between 0 and 1). 
#Complete the body of the function so that it returns the right number.
#Note: Since division by 0 produces an error, if the denominator is 0, the function should return 0 instead of attempting the division.
def fractional_part(numerator, denominator):
    if denominator == 0:
        return 0
    else:
        return(numerator / denominator) - int(numerator/denominator)
    
print(fractional_part(5, 5)) # Should be 0
print(fractional_part(5, 4)) # Should be 0.25
print(fractional_part(5, 3)) # Should be 0.66...
print(fractional_part(5, 2)) # Should be 0.5
print(fractional_part(5, 0)) # Should be 0
print(fractional_part(0, 5)) # Should be 0

0.0
0.25
0.6666666666666667
0.5
0
0.0

To get the integer part of a float use the built-in int() function:

>int(5.1)
5
To separate the float part subtract the float with the integer:

>5.1 - int(5.1)
0.1

https://stackoverflow.com/questions/20654141/want-to-seperate-the-integer-part-and-fractional-part-of-float-number-in-python

In [83]:
def pares(number):
    if number %2 == 0:
        return True
    else:
        return False
    
print(pares(5))

False

## Loops

### While loops

Typical use:

While loops are mostly used when there’s an unknown number of operations to be performed, and a condition needs to be checked at each iteration.

In [239]:
i = 1
while i < 6 :
    if i == 3:
        break
    print(i)
    i += 1

1
2

In [240]:
i= 1
while i < 6:
    i+=1
    if i ==3:
        continue
    print(i)
#this if i == 3 continue skips the condition 3 and keeps running the loop

2
4
5
6

In [242]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [2]:
#initializing the variable, give an initial value to a variable
x = 0
#adding a while condition, x needs to be smaller than 5. 
#With the initial value of x, the loop repeats until condition is false (x is larger than 5)
while x < 8:
    print("not there yet x=" + str(x))
    #increment the value of x, add 1 to x
    x= x+1
print("x="+str(x))

not there yet x=0
not there yet x=1
not there yet x=2
not there yet x=3
not there yet x=4
not there yet x=5
not there yet x=6
not there yet x=7
x=8

In [4]:
def attempts(n):
    #initialize x
    x = 1
    #define the condition, x needs to be smaller or equal than n
    while x <= n:
        print("Attempt " + str(x))
    #the += sign adds the value to x. Is equal to write x = x+1
        x += 1
    print("Done")

attempts(8)

Attempt 1
Attempt 2
Attempt 3
Attempt 4
Attempt 5
Attempt 6
Attempt 7
Attempt 8
Done

In [2]:
my_variable = 3
while my_variable <10:
    print('Hello')
    my_variable += 1

Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [3]:
x=1
sum = 0
while x <10:
    sum += x
    x +=1

In [4]:
print(x)
print(sum)

10
45

In [7]:
x = 1
product = 1
while x < 10:
    product = product * x
    x +=1

print(x)
print(product)

10
362880

In [12]:
def count_down(start_number):
    current = 8
    while (current > 0):
        print(current)
        current -= 1
    print('zero')

In [13]:
count_down(8)

8
7
6
5
4
3
2
1
zero

In [14]:
def print_range(start, end):
    # Loop through the numbers from start to end
    n = start
    while n < end:
        print(n)
        n +=1
    print(n)

print_range(1, 5)

1
2
3
4
5

In [17]:
def print_prime_factors(number):
  # Start with two, which is the first prime
  factor = 2
  # Keep going until the factor is larger than the number
  while factor <= number:
    # Check if factor is a divisor of number
    if number % factor == 0:
      # If it is, print it and divide the original number
      print(factor)
      number = number / factor
    else:
      factor += 1
      # If it's not, increment the factor by one
  return "Done"

print_prime_factors(10)
# Should print 2,2,5,5
# DO NOT DELETE THIS COMMENT

2
5

'Done'

#### How to break infinite loops

If we initialize x as 0, the loop will run forever. We solve that issue by adding the if statement and then a while loop nested to that if. Another option would be to add x != 0 and x% 2

In [29]:
# if x != 0:
# while x % 2 == 0:
#     x = x/2
    
# while x !=0 and x % 2 == 0:
#     x= x/2

In [31]:
#this is an infinite loop
# def print_range(start, end):
#     # Loop through the numbers from start to end
#     n = start
#     while n <= end:
#     print(n)

#fixed version
def print_range(start, end):
# Loop through the numbers from start to end
    n = start
    while n < end:
        print(n)
        n +=1
    print(n)
    
print_range(1,5)

1
2
3
4
5

### Practice quiz Week 3

Pregunta 2
Fill in the blanks to make the print_prime_factors function print all the prime factors of a number. A prime factor is a number that is prime and divides another without a remainder.

In [20]:
def print_prime_factors(number):
  # Start with two, which is the first prime
  factor = 2
  # Keep going until the factor is larger than the number
  while factor <= number:
    # Check if factor is a divisor of number
    if number % factor == 0:
      # If it is, print it and divide the original number
      print(factor)
      number = number / factor
    else:
      factor += 1
      # If it's not, increment the factor by one
  return "Done"

print_prime_factors(100)
# Should print 2,2,5,5
# DO NOT DELETE THIS COMMENT

2
2
5
5

'Done'

3. Pregunta 3
The following code can lead to an infinite loop. Fix the code so that it can finish successfully for all numbers.

Note: Try running your function with the number 0 as the input, and see what you get!

In [27]:
def is_power_of_two(n):
  # Check if the number can be divided by two without a remainder
  while n % 2 == 0 and n!= 0:
    n = n / 2
  # If after dividing by two the number is 1, it's a power of two
  if n == 1:
    return True
    n+=1
  return False
  

print(is_power_of_two(0)) # Should be False
print(is_power_of_two(1)) # Should be True
print(is_power_of_two(8)) # Should be True
print(is_power_of_two(9)) # Should be False

False
True
True
False

4. Fill in the empty function so that it returns the sum of all the divisors of a number, without including it. A divisor is a number that divides into another without a remainder.

In [22]:
# def sum_divisors(n):
#   divisor = 1
#   sum = 0
#   while n % divisor == 0:
#     return divisor
#     if number == n:
#       return(divisor)

def sum_divisors(n):
  divisor = 1
  sum = 0
  # Return the sum of all divisors of n, not including
  while divisor<n:
    if n%divisor==0:
      sum += divisor
    divisor+=1
  return sum

print(sum_divisors(6)) # Should be 1+2+3=6
print(sum_divisors(12)) # Should be 1+2+3+4+6=16

6
16

Pregunta 5
The multiplication_table function prints the results of a number passed to it multiplied by 1 through 5. An additional requirement is that the result is not to exceed 25, which is done with the break statement. Fill in the blanks to complete the function to satisfy these conditions.

In [19]:
def multiplication_table(number):
# Initialize the starting point of the multiplication table
    multiplier = 1
    #initialize result in 0, this variable will store the result of the multiplication of number * multiplier
    result = 0
# Limit the loop to less or equal to 5
    while multiplier <= 5:
    #result is the multiplication of the number * the multiplier starting in 1
        result = number * multiplier
    # Limit the result to 25
        if result >25 :
            break
        print(str(number) + "x" + str(multiplier) + "=" + str(result))
    # Increment the variable for the loop
        multiplier +=1

multiplication_table(3) 
# Should print: 3x1=3 3x2=6 3x3=9 3x4=12 3x5=15

multiplication_table(5) 
# Should print: 5x1=5 5x2=10 5x3=15 5x4=20 5x5=25

multiplication_table(8)	
# Should print: 8x1=8 8x2=16 8x3=24

3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
8x1=8
8x2=16
8x3=24

### For loops

##### WIKI
https://wiki.python.org/moin/ForLoop

In [34]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [246]:
#use break to stop the iteration when finds banana and prints only apple
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break  
    print(x)

apple

In [252]:
#here use print before break and we get two values
fruits = ['apple', 'banana', 'cherry']
for i in fruits:
    print(i)
    if i == 'banana':
        break

apple
banana

In [251]:
fruits = ['apple', 'banana', 'cherry']
for i in fruits:
    if i == 'banana':
        continue
    print(i)

apple
cherry

In [253]:
#Recursion
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

Fill in the gaps of the sum_squares function, so that it returns the sum of all the squares of numbers between 0 and x (not included). Remember that you can use the range(x) function to generate a sequence of numbers from 0 to x (not included).

In [47]:
def sum_squares(x):
    sum = 0
    for n in range(x):
        sum += n*n
    return sum

print(sum_squares(10)) # Should be 285

285

In [44]:
for n in range(10):
    multiply=0
    multiply = n*n
    print(multiply)

0
1
4
9
16
25
36
49
64
81

In [49]:
friends = ['Momo', 'Timi', 'Pepe', 'Val']
for name in friends:
    print("Hello " + name)

Hello Momo
Hello Timi
Hello Pepe
Hello Val

In [71]:
values = [23, 52 , 59, 37 , 48 ]
suma = 0
length = 0
for value in values:
    suma += value
    #added length +1 to obtain the total elements of the list
    length += 1
# print(suma)
print("Total sum= " +str(suma)+ ' Average '+ str(suma/length))
# print(length)

Total sum= 219 Average 43.8

In [61]:
23+52+59+37+48

219

Not sure whether to use a for loop or a while loop? Remember that a while loop is great for performing an action over and over until a condition has changed. A for loop works well when you want to iterate over a sequence of element

In [73]:
product = 1
for x in range(1,10):
    product = product * x
    print(product)

1
2
6
24
120
720
5040
40320
362880

In [74]:
def factorial(n):
    result = 1
    for i in range(n):
        result += result * i
    return result

print(factorial(4)) # should return 24
print(factorial(5)) # should return 120

24
120

In [80]:
def to_celsius(x):
    return(x-32)*5/9

#range starts at 0, ends at 100 with an interval of 5 or 10
for i in range(0,151,10):
    print(i, to_celsius(i))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778
110 43.333333333333336
120 48.888888888888886
130 54.44444444444444
140 60.0
150 65.55555555555556

#### A quick view of the range function
Previously we had used the range() function by passing it a single parameter, and it generated a sequence of numbers from 0 to one less than we specified. But the range() function can do much more than that. We can pass in two parameters: the first specifying our starting point, the second specifying the end point. Don't forget that the sequence generated won't contain the last element; it will stop one before the parameter specified.

The range() function can take a third parameter, too. This third parameter lets you  alter the size of each step. So instead of creating a sequence of numbers incremented by 1, you can generate a sequence of numbers that are incremented by 5.

To quickly recap the range() function when passing one, two, or three parameters:

- One parameter will create a sequence, one-by-one, from zero to one less than the parameter.
- Two parameters will create a sequence, one-by-one, from the first parameter to one less than the second parameter.
- Three parameters will create a sequence starting with the first parameter and stopping before the second parameter, but this time increasing each step by the third parameter.

### Nested loops

In [81]:
for left in range(7):
    for right in range(left, 7):
        print("[" + str(left) + "|" + str(right) + "]", end=" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

In [84]:
teams= ["Dragons", "Wolves", "pandas", "Unicorns"]
for home_team in teams:
    for away_team in teams:
        if home_team != away_team:
            print(home_team + " vs " + away_team)

Dragons vs Wolves
Dragons vs pandas
Dragons vs Unicorns
Wolves vs Dragons
Wolves vs pandas
Wolves vs Unicorns
pandas vs Dragons
pandas vs Wolves
pandas vs Unicorns
Unicorns vs Dragons
Unicorns vs Wolves
Unicorns vs pandas

In [89]:
def saludo(amigos):
    for name in amigos:
        print("Hello " + name)

print(saludo(["Momo", "timi", "Rox", "Pepe"]))
print(saludo("Momo"))

Hello Momo
Hello timi
Hello Rox
Hello Pepe
None
Hello M
Hello o
Hello m
Hello o
None

The validate_users function is used by the system to check if a list of users is valid or invalid. A valid user is one that is at least 3 characters long. For example, ['taylor', 'luisa', 'jamaal'] are all valid users. When calling it like in this example, something is not right. Can you figure out what to fix?

In [99]:
#verificar el numero de caracteres para un user id
#verify the length of a string
def valid_userid(user_id):
    if len(user_id) < 3:
        print("Invalid user name. User must be at least 3 characters long.")
    elif len(user_id) > 15:
        print("Invalid user name. User must be at least 3 characters long.")
    else:
        print("Valid user name.")
        
valid_userid("Momo")

Valid user name.

In [101]:
#this is the incorrect code
# def validate_users(users):
#   for user in users:
#     if is_valid(user):
#       print(user + " is valid")
#     else:
#       print(user + " is invalid")

# validate_users("purplecat")

#Code without using our previous function valid_userid
def validate_users(users):
  for user in users:
    if len(user) >=3:
      print(user + " is valid")
    else:
      print(user + " is invalid")

validate_users(["purplecat"])

#code using or previously created function for valid user ID
# def validate_users(users):
#   for user in users:
#     if valid_userid(user):
#       print(user + " is valid")
#     else:
#       print(user + " is invalid")

# validate_users(["purplecat"])

purplecat is valid

In [102]:
for x in range(0, 3):
    print("We're on time %d" % (x))

We're on time 0
We're on time 1
We're on time 2

#### Practice Week 3 For loops

Pregunta 2

Fill in the blanks to make the factorial function return the factorial of n. Then, print the first 10 factorials (from 0 to 9) with the corresponding number. Remember that the factorial of a number is defined as the product of an integer and all integers before it. For example, the factorial of five (5!) is equal to 1*2*3*4*5=120. Also recall that the factorial of zero (0!) is equal to 1.

In [105]:
def factorial(n):
    result = 1
    for x in range(n):
        result += result * x
    return result

for n in range(0,10):
    print(n, factorial(n))

0 1
1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880

Pregunta 3

Write a script that prints the first 10 cube numbers (x**3), starting with x=1 and ending with x=10.

In [106]:
for number in range(1,11):
  print(number**3)

1
8
27
64
125
216
343
512
729
1000

Pregunta 4.

Write a script that prints the multiples of 7 between 0 and 100. Print one multiple per line and avoid printing any numbers that aren't multiples of 7. Remember that 0 is also a multiple of 7

In [108]:
for x in range(101):
    if x % 7 == 0:
        print(x)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

### Recursion

A recursive function must include a recursive case and base case. The recursive case calls the function again, with a different value. The base case returns a value without calling the same function.

In [ ]:
# def recursive_function(parameters):
#     if base_case_condition(parameters):
#         return base_case_value
#     recursive_function(modified_parameters)

In [111]:
def factorial(n):
    if n < 2:
        return 1
    return n * factorial(n-1)

factorial(8)

40320

In [109]:
def sum_positive_numbers(n):
    # The base case is n being smaller than 1
    if n < 1:
        return 0

    # The recursive case is adding this number n to 
    # the sum of the numbers smaller than this one.
    return n + sum_positive_numbers(n-1)

print(sum_positive_numbers(3)) # Should be 6
print(sum_positive_numbers(5)) # Should be 15

6
15

#### Practice recursions

Pregunta 5.

Implement the sum_positive_numbers function, as a recursive function that returns the sum of all positive numbers between the number n received and 1. For example, when n is 3 it should return 1+2+3=6, and when n is 5 it should return 1+2+3+4+5=15.

In [114]:
def sum_positive_numbers(n):
  if n < 1:
    return 0
  return n + sum_positive_numbers(n-1)

print(sum_positive_numbers(3)) # Should be 6
print(sum_positive_numbers(5)) # Should be 15

6
15

### Graded Quiz week 3

Pregunta 1.

Fill in the blanks of this code to print out the numbers 1 through 7.

In [40]:
# number = 1
# while number ___ 7:
#     print(number, end=" ")
#     ___

current = 1
while current <= 7 and current >=1:
    print(current)
    current += 1
print('zero')

1
2
3
4
5
6
7
zero


Pregunta 2

The show_letters function should print out each letter of a word on a separate line. Fill in the blanks to make that happen

In [41]:
def show_letters(word):
	for letter in word:
		print(letter)

show_letters("Hello")
# Should print one line per letter

H
e
l
l
o

Pregunta 3.

Complete the function digits(n) that returns how many digits the number has. For example: 25 has 2 digits and 144 has 3 digits. Tip: you can figure out the digits of a number by dividing it by 10 once per digit until there are no digits left.

In [35]:
def digitsss(n):
    count = 0
    if n == 0:
        count = 1
    while (n >= 1):
        count += 1
        n = n//10
    return count

print(digitsss(25))   # Should print 2
print(digitsss(144))  # Should print 3
print(digitsss(1000)) # Should print 4
print(digitsss(0))    # Should print 1

2
3
4
1

In [42]:
def digits(n):
    count = 0
    if n == 0:
        count += 1
    while (n>0):
        count +=1
        n = n//10
    return count

print(digits(25))   # Should print 2
print(digits(144))  # Should print 3
print(digits(1000)) # Should print 4
print(digits(0))    # Should print 1

2
3
4
1

Pregunta 4.

This function prints out a multiplication table (where each number is the result of multiplying the first number of its row by the number at the top of its column). Fill in the blanks so that calling multiplication_table(1, 3) will print out:

1 2 3 

2 4 6 

3 6 9

In [43]:
def multiplication_table(start, stop):
    for x in range(start, stop+1):
        for y in range(start,stop+1):
                print(str(x*y), end=" ")
        print()




multiplication_table(1, 3)

1 2 3
2 4 6
3 6 9

Pregunta 5.

The counter function counts down from start to stop when start is bigger than stop, and counts up from start to stop otherwise. Fill in the blanks to make this work correctly.

In [50]:
def counter(start, stop):
    x = start
    if start > stop:
        return_string = "Counting down: "
        while x >= stop:
            return_string += str(x)
            if x > stop:
                return_string += ","
            else:
                return_string += ""
            x -=1
    else:
        return_string = "Counting up: "
        while x <= stop:
            return_string += str(x)
            if x < stop:
                return_string += ","
            x += 1
    return return_string

print(counter(1, 10)) # Should be "Counting up: 1,2,3,4,5,6,7,8,9,10"
print(counter(2, 1)) # Should be "Counting down: 2,1"
print(counter(5, 5)) # Should be "Counting up: 5"

Counting up: 1,2,3,4,5,6,7,8,9,10
Counting down: 2,1
Counting up: 5

Pregunta 6. The even_numbers function returns a space-separated string of all positive numbers that are divisible by 2, up to and including the maximum that's passed into the function. For example, even_numbers(6) returns “2 4 6”. Fill in the blank to make this work.

In [49]:
def even_numbers(maximum):
    return_string = ""
    for x in range(1, maximum+1):
        if x % 2 == 0:
            return_string += str(x) + " "
        x+=1
    return return_string.strip()


print(even_numbers(6))  # Should be 2 4 6
print(even_numbers(10)) # Should be 2 4 6 8 10
print(even_numbers(1))  # No numbers displayed
print(even_numbers(3))  # Should be 2
print(even_numbers(0))  # No numbers displayed

2 4 6
2 4 6 8 10

2

Pregunta 7. The following code containts an error, what is the error?

In [1]:
def decade_counter(year):
    decade=0
    while year < 50:
        decade += 1
    return decade

Failure to initialize the variables.

8. What is the value at the END of the script?

In [2]:
for x in range(1,10,3):
    print(x)

1
4
7

9.What is the value of Y ant the END of the code?

In [25]:
for x in range(10):
    for y in range(x):
        print(y)

0
0
1
0
1
2
0
1
2
3
0
1
2
3
4
0
1
2
3
4
5
0
1
2
3
4
5
6
0
1
2
3
4
5
6
7
0
1
2
3
4
5
6
7
8

In [8]:
votes = ["no", "yes", "maybe"]
for x in votes:
    print(x)

no
yes
maybe

## Week 4

### Strings

In [2]:
def double_word(word):
    return (word * 2)+ str(len(word*2))

print(double_word("hello")) # Should return hellohello10
print(double_word("abc"))   # Should return abcabc6
print(double_word(""))      # Should return 0

hellohello10
abcabc6
0

#### Operations with strings

If we want to make an acronym by taking the first letter of each word in a phrase. We can do that through an operation called **string indexing**. This operation lets us access the character in a given position or index using square brackets and the number of the position we want.

**Negative indexing** is used when we don't know the length of a string. Eg.

In [6]:
text = "ifniofiuahfasudifh9sdfdiufhasduibuvbdufivfuihfaiudfhaiui"
print(text[-1])
text[0]==text[-1]

i

True

In [13]:
def first_and_last(message):
    if message is "":
        return True
    elif message[0] == message[-1]:
        return True
    else:
        return False

print(first_and_last("else"))
print(first_and_last("tree"))
print(first_and_last(""))

True
False
True

We can also access a slice of a string. **A slice** is the portion of a string that can contain more than one character, also sometimes called a substring. We do that by creating a range using a colon as a separator. Let's see an example of this.

Slice and index.
Si uso [4:] selecciona todos los caracteres a partir del 4 en adelante. O sea, caracteres despues del 4
Si uso [:3] selecciona todos los caracteres antes del 3.

In [15]:
palabra = "murcielago"
print(palabra[2:4])
print(palabra[:4])
print(palabra[4:])

rc
murc
ielago

In [181]:
#modifying a string. A string cannot change with this line of code
messages = "A kong string with a silly typo"
# messages[2] = "l"
new_message = messages[0:2] + "l" + messages[3:]
new_message

'A long string with a silly typo'

##### Methods for strings

**INDEX**

In [183]:
new_message

'A long string with a silly typo'

In [182]:
#method for index 
new_message.index('w')

14

In [20]:
"cars" in new_message

False

In [23]:
#the function accepts 3 parameters
def replace_domain(email, old_domain, new_domain):
    if "@" + old_domain in email:
        #this line indicates where the substring starts.
        index = email.index("@"+old_domain)
        #from the position in the index, paste the new info
        new_email = email[:index] + "@" +new_domain
        return new_email
    return email

In Python, strings are immutable. This means that they can't be modified. So if we wanted to fix a typo in a string, we can't simply modify the wrong character. We would have to create a new string with the typo corrected. We can also assign a new value to the variable holding our string.

If we aren't sure what the index of our typo is, we can use the string method index to locate it and return the index. Let's imagine we have the string **"lions tigers and bears"** in the variable **animals**. We can locate the index that contains the letter g using animals.index("g"), which will return the index; in this case 8. We can also use substrings to locate the index where the substring begins. animals.index("bears") would return 17, since that’s the start of the substring. If there’s more than one match for a substring, the index method will return the first match. If we try to locate a substring that doesn't exist in the string, we’ll receive a **ValueError** explaining that the substring was not found.

We can avoid a ValueError by first checking if the substring exists in the string. This can be done using the in keyword. We saw this keyword earlier when we covered for loops. In this case, it's a conditional that will be either True or False. If the substring is found in the string, it will be True. If the substring is not found in the string, it will be False. Using our previous variable animals, we can do **"horses" in animals** to check if the substring "horses" is found in our variable. In this case, it would evaluate to False, since horses aren’t included in our example string. If we did **"tigers" in animals**, we'd get True, since this substring is contained in our strin

**string Class**

In [25]:
"Pepe".lower()

'pepe'

In [26]:
"pepe".upper()

'PEPE'

In [27]:
nombre = "PEPE"
if nombre.lower()== 'pepe':
    print("user said pepe")

user said pepe

**Strip**

Remove spaces from strings

In [186]:
#**Strip**
" Valeria            ".strip()
#"Valeria ".rstrip()
#"   Valeria".lstrip()

'Valeria'

**Count** How many times a given substring appears in a string

In [36]:
print(new_message)
new_message.count("i")

A long string with a silly typo

3

In [37]:
#endswith
"apretar".endswith("ar")

True

In [38]:
"string".isnumeric()

False

In [39]:
"12345".isnumeric()

True

In [41]:
int("1324")+int(888)

2212

In [44]:
",".join(["Hoy","es","Jueves"])

'Hoy,es,Jueves'

In [188]:
new_message.split()

['A', 'long', 'string', 'with', 'a', 'silly', 'typo']

In [187]:
new_message

'A long string with a silly typo'

In [304]:
equis = "hola como estas"
x_upp = equis.upper()
x_split = x_upp.split()
# x_split[2]
x_split

['HOLA', 'COMO', 'ESTAS']

In [189]:
phrase = "universal serial bus"
words = phrase.upper()
split = words.split()
result=""
for word in split:
    result += word[0]
print(result)

USB

In [121]:
split

['UNIVERSAL', 'SERIAL', 'BUS']

In [120]:
def initials(phrase):
    phrase = phrase.upper()
    words = phrase.split()
    result = ""
    for word in words:
        result += word[0]
    return result

print(initials("Universal Serial Bus")) # Should be: USB
print(initials("local area network")) # Should be: LAN
print(initials("Operating system")) # Should be: OS

USB
LAN
OS

#### String.format()

You can use the **format** method on strings to concatenate and format strings in all kinds of powerful ways. To do this, create a string containing curly brackets, **{}**, as a placeholder, to be replaced. Then call the format method on the string using .format() and pass variables as parameters. The variables passed to the method will then be used to replace the curly bracket placeholders. This method automatically handles any conversion between data types for us. 

If the curly brackets are empty, they’ll be populated with the variables passed in the order in which they're passed. However, you can put certain expressions inside the curly brackets to do even more powerful string formatting operations. You can put the name of a variable into the curly brackets, then use the names in the parameters. This allows for more easily readable code, and for more flexibility with the order of variables.

You can also put a formatting expression inside the curly brackets, which lets you alter the way the string is formatted. For example, the formatting expression **{:.2f}** means that you’d format this as a float number, with two digits after the decimal dot. The colon acts as a separator from the field name, if you had specified one. You can also specify **text alignment** using the greater than operator:**>**. For example, the expression **{:>3.2f}** would align the text three spaces to the right, as well as specify a float number with two decimal places. String formatting can be very handy for outputting easy-to-read textual output.

In [124]:
name = "Pepe"
number = len(name)*3
print("Hello {} your lucky number is {}".format(name,number))

Hello Pepe your lucky number is 12

In [126]:
print("your lucky number is {number}, {name}".format(name=name, number=len(name)*3))

your lucky number is 12, Pepe

In [127]:
def student_grade(name, grade):
	return "{} received {}% on the exam".format(name, grade)

print(student_grade("Reed", 80))
print(student_grade("Paige", 92))
print(student_grade("Jesse", 85))

Reed received 80% on the exam
Paige received 92% on the exam
Jesse received 85% on the exam

In [129]:
def to_celsius(x):
    return(x-32)*5/9

#range starts at 0, ends at 100 with an interval of 5 or 10
for i in range(0,151,10):
    print("{:>3} F | {:>6.2f} C".format(i, to_celsius(i)))

  0 F | -17.78 C
 10 F | -12.22 C
 20 F |  -6.67 C
 30 F |  -1.11 C
 40 F |   4.44 C
 50 F |  10.00 C
 60 F |  15.56 C
 70 F |  21.11 C
 80 F |  26.67 C
 90 F |  32.22 C
100 F |  37.78 C
110 F |  43.33 C
120 F |  48.89 C
130 F |  54.44 C
140 F |  60.00 C
150 F |  65.56 C

#### String operations
- len(string) Returns the length of the string
- for character in string Iterates over each character in the string
- if substring in string Checks whether the substring is part of the string
- string[i] Accesses the character at index i of the string, starting at zero
- string[i:j] Accesses the substring starting at index i, ending at index j-1. If i is omitted, it's 0 by default. If j is omitted, it's len(string) by default.

#### String methods
- string.lower() / string.upper() Returns a copy of the string with all lower / upper case characters
- string.lstrip() / string.rstrip() / string.strip() Returns a copy of the string without left / right / left or right whitespace
- string.count(substring) Returns the number of times substring is present in the string
- string.isnumeric() Returns True if there are only numeric characters in the string. If not, returns False.
- string.isalpha() Returns True if there are only alphabetic characters in the string. If not, returns False.
- string.split() / string.split(delimiter) Returns a list of substrings that were separated by whitespace / delimiter
- string.replace(old, new) Returns a new string where all occurrences of old have been replaced by new.
- delimiter.join(list of strings) Returns a new string with all the strings joined by the delimiter 

Check out the official documentation for all available [String methods](https://docs.python.org/3/library/stdtypes.html#string-methods).

https://docs.python.org/3/library/stdtypes.html#string-methods

https://docs.python.org/3/library/string.html#formatstrings

https://docs.python.org/3/library/string.html#format-specification-mini-language

In [132]:
name = "Micah"

print(f'Hello {name}')

Hello Micah

In [133]:
>>> item = "Purple Cup"

>>> amount = 5

>>> price = amount * 3.25

>>> print(f'Item: {item} - Amount: {amount} - Price: {price:.2f}')

Item: Purple Cup - Amount: 5 - Price: 16.25

In [130]:
# "{0} {1}".format(first, second)

first = "apple"
second = "banana"
third = "carrot"

#the numbers in {} change the order of the variables, even though we are adding them in order within format(b)
formatted_string = "{0} {2} {1}".format(first, second, third)

print(formatted_string)

"""Outputs:
apple carrot banana
"""

apple carrot banana

'Outputs:\napple carrot banana\n'

Formatting expressions

    Expr	Meaning	                            Example
    
    {:d}	integer value	                            '{:d}'.format(10.5) → '10'
    
    {:.2f}	floating point with that many decimals	    '{:.2f}'.format(0.5) → '0.50'
    
    {:.2s}	string with that many characters	        '{:.2s}'.format('Python') → 'Py'
    
    {:<6s}	string aligned to the left that many spaces	'{:<6s}'.format('Py') → 'Py   '
    
    {:>6s}	string aligned to the right that many spaces '{:>6s}'.format('Py') → '    Py'
    
    {:^6s}	string centered in that many spaces	'{:^6s}'.format('Py') → '  Py  '

### Quiz week 4 Strings

In [142]:
def is_palindrome(input_string):
# We'll create two strings, to compare them
    new_string = ""
    reverse_string = ""
# Traverse through each letter of the input string
    for letter in input_string: 
        #add a conditional to add only letters and not blank spaces
        if letter != ' ':
            #Add any non-blank letters to the end of one string
            new_string = new_string + letter.lower()
            #Add any non-blank letters to the front of the other string.
            reverse_string = letter.lower() + reverse_string
# Compare the strings
    if new_string == reverse_string:
        return True
    return False

print(is_palindrome("Never Odd or Even")) # Should be True
print(is_palindrome("abc")) # Should be False
print(is_palindrome("kayak")) # Should be True

True
False
True

2. Using the format method, fill in the gaps in the convert_distance function so that it returns the phrase "X miles equals Y km", with Y having only 1 decimal place. For example, convert_distance(12) should return "12 miles equals 19.2 km".

In [143]:
def convert_distance(miles):
	km = miles * 1.6 
	result = "{} miles equals {:.1f} km".format(miles, km)
	
	return result

print(convert_distance(12)) # Should be: 12 miles equals 19.2 km
print(convert_distance(5.5)) # Should be: 5.5 miles equals 8.8 km
print(convert_distance(11)) # Should be: 11 miles equals 17.6 km

12 miles equals 19.2 km
5.5 miles equals 8.8 km
11 miles equals 17.6 km

Pregunta 4
Fill in the gaps in the nametag function so that it uses the format method to return first_name and the first initial of last_name followed by a period. For example, nametag("Jane", "Smith") should return "Jane S

In [144]:
def nametag(first_name, last_name):
	return("{} {:.1s}.".format(first_name, last_name))


print(nametag("Jane", "Smith")) 
# Should display "Jane S." 
print(nametag("Francesco", "Rinaldi")) 
# Should display "Francesco R." 
print(nametag("Jean-Luc", "Grand-Pierre")) 
# Should display "Jean-Luc G."

Jane S.
Francesco R.
Jean-Luc G.

['its', 'raining', 'cats', 'and', 'cats']
['its', 'raining', 'cats', 'and', 'dogs']

In [173]:
#Solution one.
def replace_ending1(sentence, old, new):   
# Check if the old string is at the end of the sentence 
    check= old in sentence
    test = sentence.split()
    if test[-1]== old:
        #replace ending old with new
        test[-1]= new
        # rejoin sentence
        separator= ' '
        new_sentence = separator.join(test)
        return new_sentence
# Return the original sentence if there is no match 
    return sentence

print(replace_ending1("It's raining cats and cats", "cats", "dogs")) 
# Should display "It's raining cats and dogs"
print(replace_ending1("She sells seashells by the seashore", "seashells", "donuts")) 
# Should display "She sells seashells by the seashore"
print(replace_ending1("The weather is nice in May", "may", "april")) 
# Should display "The weather is nice in May"
print(replace_ending1("The weather is nice in May", "May", "April")) 
# Should display "The weather is nice in April"

It's raining cats and dogs
She sells seashells by the seashore
The weather is nice in May
The weather is nice in April

In [ ]:
#other tests
frase = "its raining cats and cats"
# if "cats" in frase and frase.endswith("cats"):
#     print(frase.index["cats"])
# suffix = "cats"
# frase.endswith(suffix, 1,9)
# frase.endswith()
check = "cats" in frase
test = frase.split()
print(test)
if test[-1] == 'cats':
    test[-1]= 'dogs'
    print(test)

index let us know the position of a substring or letter. In this case, rindex is telling us the position of the substring old but starting from the end of the string instead of from the begining. This way, with rindex, we make sure to get the position of the suffis/substring that is actually at the end of the phrase.

In [174]:
def replace_ending(sentence, old, new):
    # Check if the old string is at the end of the sentence 
    if sentence.endswith(old):
        #use rindex, reverse index instead of index to start the search from the end to the start 
        i = sentence.rindex(old)
            
# Using i as the slicing index, combine the part
# of the sentence up to the matched string at the 
# end with the new string
        new_sentence = sentence[:i] + new
        return new_sentence
    # Return the original sentence if there is no match 
    return sentence

print(replace_ending("It's raining cats and cats", "cats", "dogs")) 
# Should display "It's raining cats and dogs"
print(replace_ending("She sells seashells by the seashore", "seashells", "donuts")) 
# Should display "She sells seashells by the seashore"
print(replace_ending("The weather is nice in May", "may", "april")) 
# Should display "The weather is nice in May"
print(replace_ending("The weather is nice in May", "May", "April")) 
# Should display "The weather is nice in April"

It's raining cats and dogs
She sells seashells by the seashore
The weather is nice in May
The weather is nice in April

### Lists

Lists in Python are defined using square brackets, with the elements stored in the list separated by commas: list = ["This", "is", "a", "list"]. You can use the len() function to return the number of elements in a list: len(list) would return 4. You can also use the in keyword to check if a list contains a certain element. If the element is present, it will return a True boolean. If the element is not found in the list, it will return False. For example, "This" in list would return True in our example. Similar to strings, lists can also use indexing to access specific elements in a list based on their position. You can access the first element in a list by doing list[0], which would allow you to access the string "This".

In Python, lists and strings are quite similar. They’re both examples of sequences of data. Sequences have similar properties, like (1) being able to iterate over them using for loops; (2) support indexing; (3) using the len function to find the length of the sequence; (4) using the plus operator + in order to concatenate; and (5) using the in keyword to check if the sequence contains a value. Understanding these concepts allows you to apply them to other sequence types as well.

In [198]:
x = ["this", "is", "a", "list"]
print(x)
print(type(x))
print(len(x))
print("this" in x)
x[2]
print(x[0:2])
#the first value defaults to zero
print(x[0:3])
# the last value defaults to zero. Print items from 1 to the end
print(x[1:])

['this', 'is', 'a', 'list']
<class 'list'>
4
True
['this', 'is']
['this', 'is', 'a']
['is', 'a', 'list']

Exercise: 

Using the "split" string method from the preceding lesson, complete the get_word function to return the {n}th word from a passed sentence. For example, get_word("This is a lesson about lists", 4) should return "lesson", which is the 4th word in this sentence. Hint: remember that list indexes start at 0, not 1.

In [187]:
def get_word(sentence, n):
	# Only proceed if n is positive 
	if n > 0:
		words = sentence.split()
		# Only proceed if n is not more than the number of words 
		if n <= len(words):
			return words[n-1]
	return("")

print(get_word("This is a lesson about lists", 4)) # Should print: lesson
print(get_word("This is a lesson about lists", -4)) # Nothing
print(get_word("Now we are cooking!", 1)) # Should print: Now
print(get_word("Now we are cooking!", 5)) # Nothing

lesson

Now

#### Lists are mutable

In [203]:
fruits = ["pineapple", "banana", "apple", "melon"]
#adds an item at the end of the list
fruits.append("kiwi")
print(fruits)
#add an element at a determined location
fruits.insert(2, "papaya")
print(fruits)
#remove an item from the list
fruits.remove("kiwi")
print(fruits)
#pop removes an item by its index
fruits.pop(1)
print(fruits)
#assign a new value to a list by replacing using index
fruits[0] = "grape"
print(fruits)
fruits[2]

['pineapple', 'banana', 'apple', 'melon', 'kiwi']
['pineapple', 'banana', 'papaya', 'apple', 'melon', 'kiwi']
['pineapple', 'banana', 'papaya', 'apple', 'melon']
['pineapple', 'papaya', 'apple', 'melon']
['grape', 'papaya', 'apple', 'melon']

'apple'

In [205]:
range(len(fruits))

range(0, 4)

In [207]:
def skip_elements(elements):
	# Initialize variables
	new_list = []
	i = 0

	# Iterate through the list
	for i in range(len(elements)):
		# Does this element belong in the resulting list?
		if i%2==0:
			# Add this element to the resulting list
			new_list.append(elements[i])
		# Increment i
		i+=2

	return new_list

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']
print(skip_elements([])) # Should be []

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']
[]

In [ ]:
de veras que n se le puede decir nada. Primero anda llorando conque no es training y no sabe qué hacer y luego ya le gusta. Igual a su madre con sus frases idiotas e ignorantes de: "es que no le sé". Luego le dices algo y se pone como enérgumeno.

#### Tuples
As we mentioned earlier, strings and lists are both examples of sequences. Strings are sequences of characters, and are immutable. Lists are sequences of elements of any data type, and are mutable. The third sequence type is the tuple. **Tuples** are like lists, since they can contain elements of any data type. But unlike lists, tuples are immutable. They’re specified using parentheses instead of square brackets.

Tuples can be useful when we need to ensure that an element is in a certain position and will not change. Since lists are mutable, the order of the elements can be changed on us. Since the order of the elements in a tuple can't be changed, the position of the element in a tuple can have meaning. A good example of this is when a function returns multiple values. In this case, what gets returned is a tuple, with the return values as elements in the tuple. The order of the returned values is important, and a tuple ensures that the order isn’t going to change. Storing the elements of a tuple in separate variables is called unpacking. This allows you to take multiple returned values from a function and store each value in its own variable.

In [214]:
def convertir_segundos(segundos):
    #una hora tiene 3600 segundos. Dividir usando floor division
    horas = segundos // 3600
    minutos = (segundos - horas * 3600) // 60
    segundos = segundos - horas *3600 - minutos * 60
    return(horas, minutos, segundos)

convertir_segundos(4000)

(1, 6, 40)

In [217]:
resultado = convertir_segundos(4500)
type(resultado)
print(resultado)
hora, minuto, seg = resultado
print(hora, minuto, seg)

(1, 15, 0)
1 15 0

In [218]:
def file_size(file_info):
	name, type, size= file_info
	return("{:.2f}".format(size / 1024))

print(file_size(('Class Assignment', 'docx', 17875))) # Should print 17.46
print(file_size(('Notes', 'txt', 496))) # Should print 0.48
print(file_size(('Program', 'py', 1239))) # Should print 1.21

17.46
0.48
1.21

In [223]:
animals = ["Elephant", "Lion", "Zebra", "Monkey"]
chars = 0
for animal in animals:
    chars += len(animal)
    print(chars)

chars/len(animals)

8
12
17
23

5.75

In [225]:
print("Total characters: {}, average length: {}".format(chars, chars/len(animals)))

Total characters: 23, average length: 5.75

#### Enumerate

When we covered for loops, we showed the example of iterating over a list. This lets you iterate over each element in the list, exposing the element to the for loop as a variable. But what if you want to access the elements in a list, along with the index of the element in question? You can do this using the **enumerate()** function. The enumerate() function takes a list as a parameter and returns a tuple for each element in the list. The first value of the tuple is the index and the second value is the element itself.

In [228]:
winners = ["pepe", "vale", "momo", "timi"]
for index, name in enumerate(winners):
    print("{} - {}".format(index+1, name))

1 - pepe
2 - vale
3 - momo
4 - timi

In [230]:
def skip_elements(elements):
	# code goes here
	new_list =[]

	for index, element in enumerate(elements):
		if index %2==0:
			new_list.append(elements[index])
		index+=1
	
	return new_list

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach']))

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']

In [237]:
def full_email(people):
    new_format =[]
    for email, name in people:
        new_format.append("{} <{}>".format(name, email))
    return new_format

full_email([("ñe@ejemplo.com", "Ñe ñe"), ("equis@ejemplo.com", "equis Equis"), ("mama@example.com", "Mama mama")])

['Ñe ñe <ñe@ejemplo.com>',
 'equis Equis <equis@ejemplo.com>',
 'Mama mama <mama@example.com>']

In [242]:
multiplos = []
for number in range(1,11):
    multiplos.append(number*7)
    
print(multiplos)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [244]:
#primero definir la operacion, luego añadir el loop
multiples = [x*7 for x in range(1,11)]
print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [246]:
#list comprehension puede usar condicional. Se pone primero el loop y luego la condición
z = [x for x in range(0,301) if x %2 == 0]
print(z)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300]

Practice: The odd_numbers function returns a list of odd numbers between 1 and n, inclusively. Fill in the blanks in the function, using list comprehension. Hint: remember that list and range counters start at 0 and end at the limit minus 1.

In [247]:
def odd_numbers(n):
	return [x for x in range(1,n+1) if x%2!=0]

print(odd_numbers(5))  # Should print [1, 3, 5]
print(odd_numbers(10)) # Should print [1, 3, 5, 7, 9]
print(odd_numbers(11)) # Should print [1, 3, 5, 7, 9, 11]
print(odd_numbers(1))  # Should print [1]
print(odd_numbers(-1)) # Should print []

[1, 3, 5]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11]
[1]
[]

List-specific operations and methods:

- list[i] = x Replaces the element at index i with x
- list.append(x) Inserts x at the end of the list
- list.insert(i, x) Inserts x at index i
- list.pop(i) Returns the element a index i, also removing it from the list. If i is omitted, the last element is returned  and removed.
- list.remove(x) Removes the first occurrence of x in the list
- list.sort() Sorts the items in the list
- list.reverse() Reverses the order of items of the list
- list.clear() Removes all the items of the list
- list.copy() Creates a copy of the list
- list.extend(other_list) Appends all the elements of other_list at the end of list

[official list docs](https://docs.python.org/3/library/stdtypes.html#lists), [mutable objects](https://docs.python.org/3/library/stdtypes.html#mutable-sequence-types)

#### Practice lists

In [38]:
#rename words with extension.hpp to .h
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
#old suffix/extension 
suffix = ".hpp"
#new suffix
new_suffix = ".h"
#create empty object for new lists
new_list = []
for word in filenames:
    #add the condition
    if word.endswith(suffix):
        #create an index that provides the location of the suffix
        i = word.index(suffix)
        #append the words with index i and replace all after i with the new suffix
        new_list.append(word[:i]+new_suffix)
    else:
        new_list.append(word)
print(new_list)

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

In [39]:
texto = "hello how are you"
# Separate the text into words
words = texto.split()
new_word=[]
for word in words:
    say = " "
# Create the pig latin word and add it to the list
    new_word.append(word[1:]+word[0]+"ay")
#     # Turn the list back into a phrase
print(say.join(new_word))

# print(pig_latin(""")) # Should be "ellohay owhay reaay ouyay"
# print(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"

ellohay owhay reaay ouyay

In [40]:
type(new_word)
new_word

['ellohay', 'owhay', 'reaay', 'ouyay']

In [41]:
#como función
def pig_latin(text):
  say = ""
  pig = []
  # Separate the text into words
  words = text.split()
  for word in words:
    # Create the pig latin word and add it to the list
    pig += word[1:]+word[0]+"ay"+" "
    # Turn the list back into a phrase
    
  return say.join(pig)

print(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"

ellohay owhay reaay ouyay
rogrammingpay niay ythonpay siay unfay

The permissions of a file in a Linux system are split into three sets of three permissions: read, write, and execute for the owner, group, and others. Each of the three values can be expressed as an octal number summing each permission, with 4 corresponding to read, 2 to write, and 1 to execute. Or it can be written with a string using the letters r, w, and x or - when the permission is not granted.
For example: 
640 is read/write for the owner, read for the group, and no permissions for the others; converted to a string, it would be: "rw-r-----"
755 is read/write/execute for the owner, and read/execute for group and others; converted to a string, it would be: "rwxr-xr-x"
Fill in the blanks to make the code convert a permission in octal format into a string format.

In [3]:
def octal_to_string(octal):
    result = ""
    value_letters = [(4,"r"),(2,"w"),(1,"x")]
    # Iterate over each of the digits in octal
    for n in [int(n) for n in str(octal)]:
        # Check for each of the permissions values
        for value, letter in value_letters:
            if n >= value:
                result += letter
                n -= valueb
            else:
               result += "-"
    return result
    
print(octal_to_string(755)) # Should be rwxr-xr-x
print(octal_to_string(644)) # Should be rw-r--r--
print(octal_to_string(750)) # Should be rwxr-x---
print(octal_to_string(600)) # Should be rw-------

rwxr-xr-x
rw-r--r--
rwxr-x---
rw-------

In [42]:
#group_list is a tuple
group_list= ("Marketing", ["Mike", "Karen", "Jake", "Tasha"])
users = ", ".join(group_list[1])
area = group_list[0]
# members = members.join(group_list[1])
final = ""
final=("{}: {}".format(area, str(users)))
print(final)

Marketing: Mike, Karen, Jake, Tasha

In [46]:
users
# group_list[1]

'Mike, Karen, Jake, Tasha'

In [35]:
def group_list(group, users):
    members = ", ".join(users)
    return ("{}: {}".format(area, members))

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"

Marketing: Mike, Karen, Jake, Tasha
Marketing: Kim, Jay, Tom
Marketing:

Pregunta 6
The guest_list function reads in a list of tuples with the name, age, and profession of each party guest, and prints the sentence "Guest is X years old and works as __." for each one. For example, guest_list(('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")) should print out: Ken is 30 years old and works as Chef. Pat is 35 years old and works as Lawyer. Amanda is 25 years old and works as Engineer. Fill in the gaps in this function to do that.

In [36]:
def guest_list(guests):
	for name, age, work in guests:
		print("{} is {} years old and works as {}".format(name, age, work))

guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer

### Dictionaries

Like lists, dictionaries are used to organize elements into collections. Unlike lists, you don't access elements inside dictionaries using their position. Instead, the data inside dictionaries take the form of pairs of keys and values. To get a dictionary value we use its corresponding key. Another way these two vary is while in a list the index must be a number, in a dictionary you can use a bunch of different data types as keys, like strings, integers, floats, tuples, and more. The name dictionaries comes from how they work in a similar way to human language dictionaries. In an English language dictionary the word comes with a definition.

When creating a dictionary, you use curly brackets: {}. When storing values in a dictionary, the key is specified first, followed by the corresponding value, separated by a colon. For example, animals = { "bears":10, "lions":1, "tigers":2 } creates a dictionary with three key value pairs, stored in the variable animals. The key "bears" points to the integer value 10, while the key "lions" points to the integer value 1, and "tigers" points to the integer 2. You can access the values by referencing the key, like this: animals["bears"]. This would return the integer 10, since that’s the corresponding value for this key.

You can also check if a key is contained in a dictionary using the in keyword. Just like other uses of this keyword, it will return True if the key is found in the dictionary; otherwise it will return False.

In [47]:
files = {"jpg":10, "txt":14, "csv":2, "py":23}
files

{'jpg': 10, 'txt': 14, 'csv': 2, 'py': 23}

In [48]:
files["jpg"]

10

In [51]:
"html"  in files

False

Dictionaries are **mutable**, meaning they can be modified by adding, removing, and replacing elements in a dictionary, similar to lists. You can add a new key value pair to a dictionary by assigning a value to the key, like this: animals["zebras"] = 2. This creates the new key in the animal dictionary called zebras, and stores the value 2. You can modify the value of an existing key by doing the same thing. So animals["bears"] = 11 would change the value stored in the bears key from 10 to 11. Lastly, you can remove elements from a dictionary by using the del keyword. By doing del animals["lions"] you would remove the key value pair from the animals dictionary.

In [52]:
files["shp"] = 17
files

{'jpg': 10, 'txt': 14, 'csv': 2, 'py': 23, 'shp': 17}

If i try to add a kew that already exists, the new value replaces the old value

In [53]:
#erasing data from dictionary
del files['shp']
files

{'jpg': 10, 'txt': 14, 'csv': 2, 'py': 23}

#### Interating over a dictionary

In [54]:
#this method iterates over the keys only
for extension in files:
    print(extension)

jpg
txt
csv
py

In [57]:
### access keys and values using items
for ext, values in files.items():
    print("There are {} with the .{} extension".format(values, ext))

There are 10 with the .jpg extension
There are 14 with the .txt extension
There are 2 with the .csv extension
There are 23 with the .py extension

In [58]:
print(files.keys())
print(files.values())

dict_keys(['jpg', 'txt', 'csv', 'py'])
dict_values([10, 14, 2, 23])

In [59]:
cool_beasts = {"octopuses":"tentacles", "dolphins":"fins", "rhinos":"horns"}
for keys, values in cool_beasts.items():
    print("{} have {}".format(keys, values))

octopuses have tentacles
dolphins have fins
rhinos have horns

In [61]:
def count_letters(text):
    #initialize empty dictionary
    result = {}
    #iterate over each letter in the string
    for letter in text:
        #for each letter check if its not already in the dictionary
        if letter not in result:
            result[letter]=0
        #increment the value of that letter in the dictionary
        result[letter]+=1
    return result

count_letters("amigo")
count_letters("hola como estas amigo amigo")

{'h': 1,
 'o': 5,
 'l': 1,
 'a': 4,
 ' ': 4,
 'c': 1,
 'm': 3,
 'e': 1,
 's': 2,
 't': 1,
 'i': 2,
 'g': 2}

Dictionary keys can be:
- booleans
- numbers
- strings
- tuples

In [74]:
wardrobe = {"shirt":["red","blue","white"], "jeans":["blue","black"]}
wardrobe.values()

dict_values([['red', 'blue', 'white'], ['blue', 'black']])

In [91]:
#we need to iterate over keys and values
for keys, values in wardrobe.items():
    #access each value (color) of the dictionary values
    for color in values:
#for color in wardrobe.values:
        print("{} {}".format(color, keys))

red shirt
blue shirt
white shirt
blue jeans
black jeans

### Dictionary Methods Cheat Sheet
Definition

x = {key1:value1, key2:value2} 

#### Operations

- len(dictionary) - Returns the number of items in the dictionary
- for key in dictionary - Iterates over each key in the dictionary
- for key, value in dictionary.items() - Iterates over each key,value pair in the dictionary
- if key in dictionary - Checks whether the key is in the dictionary
- dictionary[key] - Accesses the item with key key of the dictionary
- dictionary[key] = value - Sets the value associated with key
- del dictionary[key] - Removes the item with key key from the dictionary

#### Methods

- dict.get(key, default) - Returns the element corresponding to key, or default if it's not present
- dict.keys() - Returns a sequence containing the keys in the dictionary
- dict.values() - Returns a sequence containing the values in the dictionary
- dict.update(other_dictionary) - Updates the dictionary with the items coming from the other dictionary. Existing entries will be replaced; new entries will be added.
- dict.clear() - Removes all the items of the dictionary

Check out the [official documentation](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict) for dictionary operations and methods.

#### Practice Dictionaries

In [100]:
def email_list(domains):
	emails = []
	for key, values in domains.items():
	  for user in values:
	    emails.append("{}@{}".format(user, key))
	return(emails)

print(email_list({"gmail.com": ["clark.kent", "diana.prince", "peter.parker"], "yahoo.com": ["barbara.gordon", "jean.grey"], "hotmail.com": ["bruce.wayne"]}))

['clark.kent@gmail.com', 'diana.prince@gmail.com', 'peter.parker@gmail.com', 'barbara.gordon@yahoo.com', 'jean.grey@yahoo.com', 'bruce.wayne@hotmail.com']

In [94]:
lista_emails = {"gmail.com": ["clark.kent", "diana.prince", "peter.parker"], "yahoo.com": ["barbara.gordon", "jean.grey"], "hotmail.com": ["bruce.wayne"]}
lista_emails.keys()

dict_keys(['gmail.com', 'yahoo.com', 'hotmail.com'])

In [99]:
#without def only a loop
for keys, values in lista_emails.items():
    for users in values:
        
        print(users+"@"+keys)

clark.kent@gmail.com
diana.prince@gmail.com
peter.parker@gmail.com
barbara.gordon@yahoo.com
jean.grey@yahoo.com
bruce.wayne@hotmail.com

In [131]:
groups = {"local": ["admin", "userA"], "public":  ["admin", "userB"], "administrator": ["admin"] }
#iterate over all items in the dictionary
for group, values in groups.items():
    #iterate over users in values
    for users in values:
        #initialize empty dictionary
        user={}
        #if user is already in dictionary append keys (group)
        if users in user:
            user[users].append(group)
            #if user not in dictionary
        else:
            user[users]=[group]
        
    print(user)

{'userA': ['local']}
{'userB': ['public']}
{'admin': ['administrator']}

In [130]:
def groups_per_user(group_dictionary):
	user_groups = {}
	# Go through group_dictionary
	for keys, values in group_dictionary.items():
		# Now go through the users in the group
		for users in values:
			if users in user_groups:
			# Now add the group to the the list of
				user_groups[users].append(keys)
			else:
				user_groups[users]= [keys]
	return(user_groups)

print(groups_per_user({"local": ["admin", "userA"],
		"public":  ["admin", "userB"],
		"administrator": ["admin"] }))

{'admin': ['local', 'public', 'administrator'], 'userA': ['local'], 'userB': ['public']}

In [119]:
wardrobe = {'shirt': ['red', 'blue', 'white'], 'jeans': ['blue', 'black']}
new_items = {'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}
wardrobe.update(new_items)
wardrobe

{'shirt': ['red', 'blue', 'white'],
 'jeans': ['white'],
 'scarf': ['yellow'],
 'socks': ['black', 'brown']}

In [120]:
def add_prices(basket):
	# Initialize the variable that will be used for the calculation
	total = 0
	# Iterate through the dictionary items
	for values in basket.values():
		# Add each price to the total calculation
			total+= values
		# Hint: how do you access the values of
		# dictionary items?
	# Limit the return value to 2 decimal places
	return round(total, 2)  

groceries = {"bananas": 1.56, "apples": 2.50, "oranges": 0.99, "bread": 4.59, 
	"coffee": 6.99, "milk": 3.39, "eggs": 2.98, "cheese": 5.44}

print(add_prices(groceries)) # Should print 28.44

28.44

### Quiz week 3

The format_address function separates out parts of the address string into new strings: house_number and street_name, and returns: "house number X on street named Y". The format of the input string is: numeric house number, followed by the street name which may contain numbers, but never by themselves, and could be several words long. For example, "123 Main Street", "1001 1st Ave", or "55 North Center Drive". Fill in the gaps to complete this function.

In [194]:
#Ejemplo usando listas
address = "123 Main Street"
numeros =[]
calle = []
words = address.split()
for word in words:
    if word.isnumeric():
        numeros.append(word)
    else:
        calle.append(word)
print("house number {} on street named {}".format(numeros, calle))

house number ['123'] on street named ['Main', 'Street']

In [221]:
#como string
address = "123 Main Street"
numeros = 0
calle = ""
words = address.split()
for item in words:
    if item.isnumeric():
        numeros=item
    else:
        calle+= item+' '
        #address_format= ' '.join(calle)
    print(numeros, calle)

123
123 Main
123 Main Street

In [219]:
#como función y usando strings
def format_address(address_string):
  # Declare variables
  number = ""
  street = ""
  # Separate the address string into parts
  words = address_string.split()
  # Traverse through the address parts
  for item in words:
    # Determine if the address part is the
    if item.isnumeric():
      number+=item
    # house number or part of the street name
    else: 
      street+=item+' '
  # Does anything else need to be done 
  # before returning the result?
  
  # Return the formatted string  
  return "house number {} on street named {}".format(number, street)

print(format_address("123 Main Street"))
# Should print: "house number 123 on street named Main Street"

print(format_address("1001 1st Ave"))

print(format_address("55 North Center Drive"))

house number 123 on street named Main Street
house number 1001 on street named 1st Ave
house number 55 on street named North Center Drive

In [222]:
#2
def highlight_word(sentence, word):
	return(sentence.replace(word, word.upper()))


print(highlight_word("Have a nice day", "nice"))
print(highlight_word("Shhh, don't be so loud!", "loud"))
print(highlight_word("Automating with Python is fun", "fun"))

Have a NICE day
Shhh, don't be so LOUD!
Automating with Python is FUN

3. A professor with two assistants, Jamie and Drew, wants an attendance list of the students, in the order that they arrived in the classroom. Drew was the first one to note which students arrived, and then Jamie took over. After the class, they each entered their lists into the computer and emailed them to the professor, who needs to combine them into one, in the order of each student's arrival. Jamie emailed a follow-up, saying that her list is in reverse order. Complete the steps to combine them into one list as follows: the contents of Drew's list, followed by Jamie's list in reverse order, to get an accurate list of the students as they arrived.

In [174]:
Jamies_list = ["Alice", "Cindy", "Bobby", "Jan", "Peter"]
Drews_list = ["Mike", "Carol", "Greg", "Marcia"]

new_list=Drews_list
# new_list.append(Drews_list)
#new_list.extend(Jamies_list.sort(reverse=True))
Jamies_list.sort(reverse=True)
new_list.extend(Jamies_list)
# # # new_list
new_list

['Mike', 'Carol', 'Greg', 'Marcia', 'Peter', 'Jan', 'Cindy', 'Bobby', 'Alice']

In [200]:
def combine_lists(list1, list2):
  # Generate a new list containing the elements of list2
  new_list=list2
  #sort elements of list 2
  list1.reverse()
  # Followed by the elements of list1 in reverse order
  new_list.extend(list1)
  return(new_list)
	
Jamies_list = ["Alice", "Cindy", "Bobby", "Jan", "Peter"]
Drews_list = ["Mike", "Carol", "Greg", "Marcia"]

print(combine_lists(Jamies_list, Drews_list))

['Mike', 'Carol', 'Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Alice']

4.Pregunta 4
Use a list comprehension to create a list of squared numbers (n*n). The function receives the variables start and end, and returns a list of squares of consecutive numbers between start and end inclusively.
For example, squares(2, 3) should return [4, 9].

In [175]:
def squares(start, end):
	return [x*x for x in range(start,end+1)]

print(squares(2, 3)) # Should be [4, 9]
print(squares(1, 5)) # Should be [1, 4, 9, 16, 25]
print(squares(0, 10)) # Should be [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[4, 9]
[1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [176]:
#5. Complete the code to iterate through the keys and values of the car_prices dictionary, 
#printing out some information about each one.
def car_listing(car_prices):
  result = ""
  for keys, values in car_prices.items():
    result += "{} costs {} dollars".format(keys, values) + "\n"
  return result

print(car_listing({"Kia Soul":19000, "Lamborghini Diablo":55000, "Ford Fiesta":13000, "Toyota Prius":24000}))

Kia Soul costs 19000 dollars
Lamborghini Diablo costs 55000 dollars
Ford Fiesta costs 13000 dollars
Toyota Prius costs 24000 dollars

In [201]:
#6
Rorys_guests = { "Adam":2, "Brenda":3, "David":1, "Jose":3, "Charlotte":2, "Terry":1, "Robert":4}
Taylors_guests = { "David":4, "Nancy":1, "Robert":2, "Adam":1, "Samantha":3, "Chris":5}

dictionary = Rorys_guests.update(Taylors_guests)
dictionary

In [223]:
#6
def combine_guests(guests1, guests2):
  # Combine both dictionaries into one, with each key listed
    #with update, the values from the appended dictionary overwrites values from first dictionary
  guests2.update(guests1)
  # only once, and the value from guests1 taking precedence
  return(guests2)

Rorys_guests = { "Adam":2, "Brenda":3, "David":1, "Jose":3, "Charlotte":2, "Terry":1, "Robert":4}
Taylors_guests = { "David":4, "Nancy":1, "Robert":2, "Adam":1, "Samantha":3, "Chris":5}

print(combine_guests(Rorys_guests, Taylors_guests))

{'David': 1, 'Nancy': 1, 'Robert': 4, 'Adam': 2, 'Samantha': 3, 'Chris': 5, 'Brenda': 3, 'Jose': 3, 'Charlotte': 2, 'Terry': 1}

https://thispointer.com/how-to-merge-two-or-more-dictionaries-in-python/

In [178]:
#7. Use a dictionary to count the frequency of letters in the input string. Only letters should be counted, not blank spaces, numbers, or punctuation. 
#Upper case should be considered the same as lower case. For example, count_letters("This is a sentence.") 
#should return {'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}.
def count_letters(text):
    #initialize variable
  result = {}
#convert to lower
  text=text.lower()
  # Go through each letter in the text
  for letter in text:
    # select only letters
    if letter.isalpha():
        #Check if the letter needs to be counted or not
      if letter not in result:
        result[letter]=0
    # Add or increment the value in the dictionary
      result[letter]+=1
  return result

print(count_letters("AaBbCc"))
# Should be {'a': 2, 'b': 2, 'c': 2}

print(count_letters("Math is fun! 2+2=4"))
# Should be {'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}

print(count_letters("This is a sentence."))
# Should be {'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

{'a': 2, 'b': 2, 'c': 2}
{'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}
{'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

In [224]:
#8
animal = "Hippopotamus"
print(animal[3:6])
print(animal[-5])
print(animal[10:])

pop
t
us

In [231]:
#9
colors = ["red", "white", "blue"]
colors.insert(2, "yellow")
colors

['red', 'white', 'yellow', 'blue']

In [232]:
'''
This is a long
comment
multiple lines
'''

'\nThis is a long\ncomment\nmultiple lines\n'

### Lambda
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

**Syntax**

lambda arguments : expression

In [254]:
#lambda arguments : expression
x = lambda a : a + 10
print(x(5))

15

In [256]:
#define a function with lambda
def myfunc(n):
  return lambda a : a * n

#create another function using the lambda function that always doubles the number you send in 

mydoubler = myfunc(2)

print(mydoubler(11))

22

### Object Oriented Programming
In object-oriented programming, concepts are modeled as classes and objects. An idea is defined using a class, and an instance of this class is called an object. Almost everything in Python is an object, including strings, lists, dictionaries, and numbers. When we create a list in Python, we’re creating an object which is an instance of the list class, which represents the concept of a list. Classes also have attributes and methods associated with them. Attributes are the characteristics of the class, while methods are functions that are part of the class.

In [261]:
#list of all string methods
# dir(" ")
#description of atring methods
# help(' ')

In [260]:
class Apple:
    #also called methods or attributes of the class
    color=""
    flavor=""

In [262]:
#create an instance (object) of the class
manzana_roja = Apple()
manzana_roja.color="roja"
manzana_roja.flavor="sweet"

Dot notation (manzana_roja.color) lets you access any of the abilities that the object might have, called methods or information that it might store called attributes, like flavor.

In [263]:
manzana_roja.color.upper()

'ROJA'

In [264]:
class Person:
    apples = 0
    ideas = 0

johanna = Person()
johanna.apples = 1
johanna.ideas = 1

martin = Person()
martin.apples = 2
martin.ideas = 1

#### Practice Quiz OOP

In [278]:
class Birds():
    number = 0
    color = ""

bicho = Birds()
bicho.number = 5
bicho.number.count()

AttributeError: 'int' object has no attribute 'count'

In [274]:
def exchange_apples(you, me):
#Here, despite G.B. Shaw's quote, our characters have started with       
#different amounts of apples so we can better observe the results. 
#We're going to have Martin and Johanna exchange ALL their apples with #one another.
#Hint: how would you switch values of variables, 
#so that "you" and "me" will exchange ALL their apples with one another?
#Do you need a temporary variable to store one of the values?
#You may need more than one line of code to do that, which is OK. 

#     new_apple = you.apples
#     me.apples = new_apple
#     you_apples = me.apples
    me.apples, you.apples = you.apples, me.apples
    

    return you.apples, me.apples

exchange_apples(johanna, martin)
print("Johanna has {} apples and Martin has {} apples".format(johanna.apples, martin.apples))

def exchange_ideas(you, me):
  #"you" and "me" will share our ideas with one another
  you.ideas += me.ideas
  me.ideas = you.ideas
  return you.ideas, me.ideas

Johanna has 2 apples and Martin has 2 apples

In [266]:
equis = martin.apples
equis

2

In [281]:
# define a basic city class
class City:
	name = ""
	country = ""
	elevation = 0 
	population = 0
# create a new instance of the City class and
# define each attribute
city1 = City()
city1.name = "Cusco"
city1.country = "Peru"
city1.elevation = 3399
city1.population = 358052

# create a new instance of the City class and
# define each attribute
city2 = City()
city2.name = "Sofia"
city2.country = "Bulgaria"
city2.elevation = 2290
city2.population = 1241675

# create a new instance of the City class and
# define each attribute
city3 = City()
city3.name = "Seoul"
city3.country = "South Korea"
city3.elevation = 38
city3.population = 9733509

def max_elevation_city(min_population):
  
	# Initialize the variable that will hold 
# the information of the city with 
# the highest elevation 
	return_city = City()

	# Evaluate the 1st instance to meet the requirements:
	# does city #1 have at least min_population and
	# is its elevation the highest evaluated so far?
	if city1.population >= min_population and city1.elevation>return_city.elevation:
    
		return_city = city1
	# Evaluate the 2nd instance to meet the requirements:
	# does city #2 have at least min_population and
	# is its elevation the highest evaluated so far?
	if city2.population >= min_population and city2.elevation > return_city.elevation:
		return_city = city2
	# Evaluate the 3rd instance to meet the requirements:
	# does city #3 have at least min_population and
	# is its elevation the highest evaluated so far?
	if city3.population >= min_population and city3.elevation > return_city.elevation:
		return_city = city3

	#Format the return string
	if return_city.name:
		return  ("{}, {}".format(return_city.name, return_city.country))
	else:
		return ""

print(max_elevation_city(100000)) # Should print "Cusco, Peru"
print(max_elevation_city(1000000)) # Should print "Sofia, Bulgaria"
print(max_elevation_city(10000000)) # Should print ""Thanks,

Cusco, Peru
Sofia, Bulgaria

In [ ]:
def max_elevation_city(min_population):
  
	# Initialize the variable that will hold 
# the information of the city with 
# the highest elevation 
	return_city = City()

	# Evaluate the 1st instance to meet the requirements:
	# does city #1 have at least min_population and
	# is its elevation the highest evaluated so far?
	if city1.population >= min_population and city1.elevation>return_city.elevation:
    
		return_city = city1
	# Evaluate the 2nd instance to meet the requirements:
	# does city #2 have at least min_population and
	# is its elevation the highest evaluated so far?
	if city2.population >= min_population and city2.elevation > return_city.elevation:
		return_city = city2
	# Evaluate the 3rd instance to meet the requirements:
	# does city #3 have at least min_population and
	# is its elevation the highest evaluated so far?
	if city3.population >= min_population and city3.elevation > return_city.elevation:
		return_city = city3

	#Format the return string
	if return_city.name:
		return  ("{}, {}".format(return_city.name, return_city.country))
	else:
		return ""

print(max_elevation_city(100000)) # Should print "Cusco, Peru"
print(max_elevation_city(1000000)) # Should print "Sofia, Bulgaria"
print(max_elevation_city(10000000)) # Should print ""

Every event is an instace of the Event Class. An event class contains the date when the event happened, the name of the machine where it happened, the user involved, and the event type.

Attributes:
- Date
- User
- Machine
- Type

Events:
- login
- Logout

We need to process a list of Event objects using their attributes to generate a report that lists all users currently logged in to the machines.