https://www.dataquest.io/blog/python-datetime-tutorial/

https://www.w3schools.com/python/python_datetime.asp

In [1]:
from datetime import datetime, timedelta

In [2]:
#get current date
datetime_object = datetime.now()
print(datetime_object)
print('Type : -', type(datetime_object))

2024-03-20 11:18:52.877175
Type : - <class 'datetime.datetime'>

Using 
- strptime(): reads strings with date and time info and convert them to datetime objects
- strftime(): converts datetime objects into strings

In [3]:
#extracting elements from a datetime object with strptime() and strftime()
string1 = '2023-05-05'
#create date object with format yyyy-mm-dd
date1 = datetime.strptime(string1, "%Y-%m-%d")
print(date1)
print('Type: ', type(date1))
print('Month: {} and Year: {}'.format(date1.month, date1.year) )

2023-05-05 00:00:00
Type:  <class 'datetime.datetime'>
Month: 5 and Year: 2023

In [5]:
#extracting day of the month and day of the week
import calendar
# print(date1.day())
print(date1.weekday())
print(calendar.day_name[date1.weekday()])

4
Friday

In [6]:
j  = 1
for i in calendar.day_name:
    print(j, '-', i)
    j+=1

1 - Monday
2 - Tuesday
3 - Wednesday
4 - Thursday
5 - Friday
6 - Saturday
7 - Sunday

In [7]:
#can we go back a week using a date?
week1 = datetime(date1.year, date1.month-1, date1.day).strftime("%y/%m/%d")
week1

'23/04/05'

In [32]:
today1 = datetime.now()
print(today1)
print('Hour: ', today1.hour)
print('Minute: ', today1.minute)

2023-11-09 15:14:53.171258
Hour:  15
Minute:  14

### Convert date object to Unix Timestamp and viceversa

In [43]:
today2 = datetime.now()
print(today2)
#convert current date into timestamp
today_timestamp = datetime.timestamp(datetime.now())
print(today_timestamp)

2023-11-09 15:44:12.100741
1699566252.101522

In [45]:
timestamp = 1699566252.101522
#convert timestamp to datetime object

dt_timestamp = datetime.fromtimestamp(timestamp)
print(dt_timestamp)

2023-11-09 15:44:12.101522

### ISO calendar

In [35]:
# Returns a 3-tuple (ISO year, ISO week number, ISO weekday)
print(date1.isocalendar())
#extracting week number
date1.isocalendar()[1]

(2023, 18, 5)

18

In the ISO calendar, the week starts counting from 1, so 5 is Friday. 18 is the number of the week.

In [37]:
date1.isocalendar()[1]-1

17

### Timedelta to find time spans using future or past days, weeks, years.

In [ ]:
#getting week of the year
# import pendulum
 
# dt = pendulum.parse('2015-05-18')
# print(dt.week_of_year)
 
# dt = pendulum.parse('2019-12-01')
# print(dt.week_of_year)
 
# dt = pendulum.parse('2018-01-21')
# print(dt.week_of_year)

In [39]:
date_delta = timedelta(weeks=2)
print(date_delta)

14 days, 0:00:00

In [41]:
today2 = datetime.now()
print("date :", today2)
 #add 15 days to today2
future_date = today2 + timedelta(days = 15)
print("in 15 days is this date: ", future_date)
#substract a week from todays date
past_date = today2 - timedelta(weeks = 1)
print(past_date)

date : 2023-11-09 15:38:53.030798
in 15 days is this date:  2023-11-24 15:38:53.030798
2023-11-02 15:38:53.030798

In [48]:
one_yr_past = datetime.now()- timedelta(days = 1)
one_yr_past

datetime.datetime(2023, 11, 8, 15, 50, 12, 381572)

### Find time difference between dates

In [50]:
date1
date2 = date1 - timedelta(weeks=18)
print(date1, date2)
difference_dates = date2-date1
difference_dates

2023-05-05 00:00:00 2022-12-30 00:00:00

datetime.timedelta(days=-126)

### Formatting strings to datetime and viceversa
Check this site for formatting settings: 'https://strftime.org/'

- strptime(): converts string into date time.
Takes two arguments, string (the string we want to change to date) and format (the format of the current string).

In [52]:
date_string = '28 February, 1984'

#format date
string_to_date = datetime.strptime(date_string, '%d %B, %Y')
string_to_date

datetime.datetime(1984, 2, 28, 0, 0)

In [57]:
#create a new datetime in string format
date_string1 = "12-03-2020 16:45:26"
#remember that format is the format of the string not the format of the output after strptime
#considering day month year
dt_object1 = datetime.strptime(date_string1, "%d-%m-%Y %H:%M:%S")
print(dt_object1)
#considering month day year
dt_object2 = datetime.strptime(date_string1, "%m-%d-%Y %H:%M:%S")
print(dt_object2)

#convert dt_object2 to timestamp
timestamp2 = datetime.timestamp(dt_object2)
print('Unix Timestamp: ', timestamp2)

#convert back to datetime
timestamp_to_date = datetime.fromtimestamp(timestamp2)
d = timestamp_to_date.strftime('%c')
print('output 1:', d)
d = timestamp_to_date.strftime('%x')
print('output 2:', d)
d = timestamp_to_date.strftime('%X')
print('output 3:', d)

2020-03-12 16:45:26
2020-12-03 16:45:26
Unix Timestamp:  1607035526.0
output 1: Thu Dec  3 16:45:26 2020
output 2: 12/03/20
output 3: 16:45:26

In [58]:
# current date and time
now = datetime.now()

# get year from date
year = now.strftime("%Y")
print("Year:", year)

# get month from date
month = now.strftime("%m")
print("Month;", month)

# get day from date
day = now.strftime("%d")
print("Day:", day)

# format time in HH:MM:SS
time = now.strftime("%H:%M:%S")
print("Time:", time)

# format date
date_time = now.strftime("%m/%d/%Y, %H:%M:%S")
print("Date and Time:",date_time)

Year: 2023
Month; 11
Day: 09
Time: 16:12:24
Date and Time: 11/09/2023, 16:12:24

### Time zones

In [59]:
# import timezone from pytz module
from pytz import timezone
# Create timezone US/Eastern
east = timezone('US/Eastern')
# Localize date
loc_dt = east.localize(datetime(2011, 11, 2, 7, 27, 0))
print(loc_dt)

# Convert localized date into Asia/Kolkata timezone
kolkata = timezone("Asia/Kolkata")
print(loc_dt.astimezone(kolkata))

# Convert localized date into Australia/Sydney timezone
au_tz = timezone('Australia/Sydney')
print(loc_dt.astimezone(au_tz))

2011-11-02 07:27:00-04:00
2011-11-02 16:57:00+05:30
2011-11-02 22:27:00+11:00

## Time in pandas

In [63]:
import pandas as pd
import numpy as np

In [61]:
date = pd.to_datetime('10th of Jun, 2019')
print(date)

2019-06-10 00:00:00

In [66]:
#create date series
date_series = date + pd.to_timedelta(np.arange(12), 'D')
print(date_series)
date_series1 = pd.date_range('06/10/2019', periods = 12, freq = 'M')
print(date_series1)

DatetimeIndex(['2019-06-10', '2019-06-11', '2019-06-12', '2019-06-13',
               '2019-06-14', '2019-06-15', '2019-06-16', '2019-06-17',
               '2019-06-18', '2019-06-19', '2019-06-20', '2019-06-21'],
              dtype='datetime64[ns]', freq=None)
DatetimeIndex(['2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30',
               '2019-10-31', '2019-11-30', '2019-12-31', '2020-01-31',
               '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31'],
              dtype='datetime64[ns]', freq='M')

### Get weekday and day of the year

In [67]:
df = pd.DataFrame()
df['date'] = date_series
df.head()

        date
0 2019-06-10
1 2019-06-11
2 2019-06-12
3 2019-06-13
4 2019-06-14

In [69]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day']= df['date'].dt.day
df['hour'] = df['date'].dt.hour
df['minute'] = df['date'].dt.minute
df.head()

        date  year  month  day  hour  minute
0 2019-06-10  2019      6   10     0       0
1 2019-06-11  2019      6   11     0       0
2 2019-06-12  2019      6   12     0       0
3 2019-06-13  2019      6   13     0       0
4 2019-06-14  2019      6   14     0       0

In [79]:
df['weekday'] = df['date'].dt.weekday
df['day_name'] = df['date'].dt.day_name()
df['dayofyear'] = df['date'].dt.dayofyear
df.head()

        date  year  month  day  hour  minute  weekday  dayofyear   day_name
0 2019-06-10  2019      6   10     0       0        0        161     Monday
1 2019-06-11  2019      6   11     0       0        1        162    Tuesday
2 2019-06-12  2019      6   12     0       0        2        163  Wednesday
3 2019-06-13  2019      6   13     0       0        3        164   Thursday
4 2019-06-14  2019      6   14     0       0        4        165     Friday