## Dictionaries

In [2]:
pop = [30.55, 2.77,39.21]
countries = ["Afghanistan", "Albania", "algeria"]

index_albania = countries.index('Albania')
index_albania

1

In [4]:
pop[index_albania]

2.77

In [5]:
# key value pairs
dict1 = {"Afghanistan": 30.55, "Albania":2.77, "Algeria":39.21}
dict1["Albania"]

2.77

In [ ]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# Get index of 'germany': ind_ger
ind_ger = countries.index('germany')

# Use ind_ger to print out capital of Germany
print(capitals[ind_ger])

In [1]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# From string in countries and capitals, create dictionary europe
europe = {'spain':'madrid', "france":"paris", "germany":"berlin", "norway": "oslo"}

# Print europe
print(europe)
# Print out the keys in europe
print(europe.keys())

# Print out value that belongs to key 'norway'
print(europe['norway'])

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}
dict_keys(['spain', 'france', 'germany', 'norway'])
oslo

In [2]:
# key value pairs
dict1 = {"Afghanistan": 30.55, "Albania":2.77, "Algeria":39.21}
dict1["Albania"]
#to add new data to the dictionary but also to modify data
dict1['sealand']=0.000027
dict1

{'Afghanistan': 30.55, 'Albania': 2.77, 'Algeria': 39.21, 'sealand': 2.7e-05}

In [ ]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Add italy to europe
europe['italy']='rome'

# Print out italy in europe
print('italy' in europe)

# Add poland to europe
europe['poland']='warsaw'

# Print europe
print(europe)

In [ ]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
          'australia':'vienna' }

# Update capital of germany
europe['germany']='berlin'

# Remove australia
del europe['australia']

# Print europe
print(europe)

#### Dictionary of dictionaries

In [3]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Print out the capital of France
print(europe['france']['capital'])

# Create sub-dictionary data
data = {'capital':'rome', 'population':59.83}

# Add data to europe under key 'italy'
europe['italy'] = data

# Print europe
print(europe)

paris
{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}

## Lists

- any type even lists. List of lists.
- compound data type

In [1]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Adapt list areas
areas = ["hallway", hall, "kitchen", kit, "living room", liv, "bedroom", bed, "bathroom", bath]

# Print areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [2]:
#list of lists
# house information as list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

# Print out house
print(house)

# Print out the type of house
print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

### Subsetting lists
- Accessing data in lists
- indexing
- slicing: [start: end]

In [3]:
areas[1], areas[-1], areas[5]

(11.25, 9.5, 20.0)

In [5]:
#get the last value of the last list
house[-1][-1]

9.5

### Changing list elements
- list[index] = new_value
- list1 + list2 = joins two lists
- del list[index]

In [6]:
#copying lists
x = ['a','b','c']
y = x
y[1] = 'Z'
y

['a', 'Z', 'c']

In [7]:
x

['a', 'Z', 'c']

List X was also modified because when we did y=x we just copied the reference to the list but not the actual values themselves.

To create a new list with the same elements as X, we use:

In [8]:
y = list(x)
# y = x[:]
y[1] = "g"
y, x

(['a', 'g', 'c'], ['a', 'Z', 'c'])

In [9]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Correct the bathroom area
areas[-1] = 10.50

# Change "living room" to "chill zone"
areas[4] = 'chill zone'

areas

['hallway',
 11.25,
 'kitchen',
 18.0,
 'chill zone',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 10.5]

In [10]:
# Create the areas list and make some changes
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0,
         "bedroom", 10.75, "bathroom", 10.50]

#add a poolhouse data to areas, name list as areas_1
areas_1 = areas + ["poolhouse", 24.5]

#add garage data to areas_1. new list is areas_2
areas_2 = areas_1 + ["garage", 15.45]
areas_2

['hallway',
 11.25,
 'kitchen',
 18.0,
 'chill zone',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 10.5,
 'poolhouse',
 24.5,
 'garage',
 15.45]

In [12]:
del areas_2[10]

In [15]:
del areas_2[10]
areas_2

['hallway',
 11.25,
 'kitchen',
 18.0,
 'chill zone',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 10.5,
 'garage',
 15.45]

In [16]:
areas =  [11.25, 18.0, 20.0, 10.75, 9.50]
#create areas copy
areas_copy = list(areas)
#change areas_copy
areas_copy[0] = 5.0
areas_copy

[5.0, 18.0, 20.0, 10.75, 9.5]

In [17]:
#examples
names = ['momo', 'timi', 'pepe', 'rio', 'vale', 'luc', 'mic']
#all names until 4
print(names[:4])
#a range
print(names[1:5])
# without initial index
print(names[3:])

['momo', 'timi', 'pepe', 'rio']
['timi', 'pepe', 'rio', 'vale']
['rio', 'vale', 'luc', 'mic']

In [18]:
x = [["a", "b", "c"],
     ["d", "e", "f"],
     ["g", "h", "i"]]
x[2][0]
x[2][:2]

['g', 'h']

In [19]:
#adding a new value in the list
names = names + ['perrito']
names

['momo', 'timi', 'pepe', 'rio', 'vale', 'luc', 'mic', 'perrito']

In [20]:
#how to copy a list
names_copy = names[:]
names_copy
# names_copy = list(names)

['momo', 'timi', 'pepe', 'rio', 'vale', 'luc', 'mic', 'perrito']

## List vs dictionaries

- List: sequence of values that are indexed by a range of numbers. Collection of values where order matters and want to easily select entire subsets of data.
- Dictionary: is indexed by UNIQUE keys. Look up table where looking for data is fast and where you can specify unique keys.