# **Review of Functions**

Notebook 6 covers functions.<br>
This notebook will review those concepts

Defining a function:<br>
>def function_name(optional parameter1, optional parameter2, etc):<br>
>>function statements<br>
return statement(optional)

**Assignment 1:**<br>
Create a function that:<br>
>accepts a list<br>
prints the length of the list<br>
prints every other index in the list

In [1]:
for x in range(0,10,2):
    print(x)

0
2
4
6
8

In [10]:
def create_list(list):
    print("List length is: {}".format(len(list)))
    for i in range(0,len(list),2):
        print(list[i])

In [11]:
list1 = [1,7,68,36,84,20,59,71,46,2]
create_list(list1)

List length is: 10
1
68
84
59
46

**Assignment 2:**<br>
Create a function that accepts a list of floats<br>
The function returns a list that has:<br>
>the max from the input list<br>
>the min from the input list<br>

In [14]:
list2 = [41,85.1,97,'84',63.2,1.6,4]
new_list = []
for item in list2:
    if isinstance(item, (int, str)):
        new_list.append(float(item))
    else: new_list.append(item)
print(new_list)

[41.0, 85.1, 97.0, 84.0, 63.2, 1.6, 4.0]

In [16]:
def list_floats(list):
    new_list=[]
    for item in list:
        if isinstance(item, (int, str)):
            new_list.append(float(item))
        else: new_list.append(item)
    print(max(new_list))
    print(min(new_list))

In [17]:
list2 = [41,85.1,97,'84',63.2,1.6,4]
list_floats(list2)

97.0
1.6

**Single Line for Loops**

In [ ]:
for i in range(5):
  print(i)

In [ ]:
for i in range(5):print(i)

**Assignment 3**:<br>
Write a single line for loop that prints a list of strings

**More complex single line for loops**

In [ ]:
for i in range(8):
  if i<3:
    j=i*4
  else:
    j= 88
  print(i,j)

In [ ]:
for i in range(5):
  print(i*4 if i<3 else -1)

In [ ]:
for i in range(5):print(i*4 if i<3 else -1)

In [ ]:
numbers = [8,34,54,67,66,98,2,4,3,45,123,234,345,52]
even_numbers = [num for num in numbers if not num % 2]
print(even_numbers)

**Assignment 4** <br>
Using a single line for loop,<br>
>read a list<br>
remove any non-numbers from the list<br>

**List Comprehension**<br>
List comprehension is a concise way of creating lists.<br>
<br>

list_name = [\<expression> for \<item> in \<collection> if \<expression>]

In [ ]:
cubes=[]
for i in range(5):
  cubes.append(i**3)
print(cubes)

In [ ]:
cubes = [i**3 for i in range(5)]
print(cubes)

**Assignment 5**<br>
Create a list using a single line for loop

**Single Line Nested For Loops**

In [ ]:
numbers = [1,2,3,4,5,6]
coordinates = []
for i in numbers:
  for j in numbers:
    if i != j:
      coordinates.append((i,j))
print(coordinates)

In [ ]:
coordinates = [(i,j) for i in numbers for j in numbers if i != j]
print(coordinates)

**Assignment 6**<br>
Create a two dimensional list using a single line nested for loop

**Assignment 7**<br>
Convert the single line for loop into a multiline for loop

In [ ]:
mylist = [1,4,5,8,9,11,13,12]
newlist = [x for x in mylist if x%2 == 1]
print(newlist)

**Use caution with 'else' statements in single line for loops**

In [ ]:
integers=[]
for x in range(15):
  if x%2 == 0:
    integers.append(x)
  else:
    integers.append(x-1)

print(integers)

However, you can not use the else statement within the context part. When I executed this code snippet, I was surprised that it throws an error:

In [ ]:
# WRONG (INVALID SYNTAX)
lst = [x for x in range(10) if x%2==0 else x-1]
print(lst)

**Correct syntax if using else statement**

In [ ]:
lst = [x if x%2==0 else x-1 for x in range(10)]
print(lst)