# **Review of Functions**

Notebook 6 covers functions.<br>
This notebook will review those concepts

Defining a function:<br>
>def function_name(optional parameter1, optional parameter2, etc):<br>
>>function statements<br>
return statement(optional)

**Assignment 1:**<br>
Create a function that:<br>
>accepts a list<br>
prints the length of the list<br>
prints every other index in the list

In [1]:
def print_list(list1):
  print(list1[1], list1[5], list1[-1])
  print(len(list1))

In [2]:
def print_list(list1):
  index = 0
  while  index < len(list1):
    print(list1[index])
    index = index + 2
  print('Length', len(list1))

In [3]:
list_1 = [1,5,4,89,45,3,48]
print_list(list_1)

1
4
45
48
Length 7

In [4]:
def list_counter(list_input):
  count = len(list_input)
  print('length:', count)
  for i in range(0,count,2):
    print(list_input[i])

In [5]:
list_1 = [1,5,4,89,45,3,48]
list_counter(list_1)

length: 7
1
4
45
48

**Assignment 2:**<br>
Create a function that accepts a list of floats<br>
The function returns a list that has:<br>
>the max from the input list<br>
>the min from the input list<br>

In [6]:
def float_list(list_floats):
  new_list=[]
  new_list.append(max(list_floats))
  new_list.append(min(list_floats))
  return(new_list)

def min_max(list_2):
  return min(list_2), max(list_2)

In [8]:
list_2 = [1.2,8.5,1.9,7.3,8.2,1.2]
min_max(list_2)

(1.2, 8.5)

**Single Line for Loops**

In [5]:
texto ="texto con muchas letra5"

In [13]:
diccionario = {'value':1, 'columna':8}
diccionario

{'value': 1, 'columna': 8}

In [22]:
# empty dictionary
# my_dict = {}

# # dictionary with integer keys
# my_dict = {1: 'apple', 2: 'ball'}

# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}
my_dict.items()

dict_items([('name', 'John'), (1, [2, 4, 3])])

In [11]:
letras = []
espacios = []
for item in texto:
    if item == ' ':
        espacios.append(item)
    else:
        letras.append(item)
        
print(letras)

['t', 'e', 'x', 't', 'o', 'c', 'o', 'n', 'm', 'u', 'c', 'h', 'a', 's', 'l', 'e', 't', 'r', 'a', '5']

In [23]:
for num in range(6):
  print(num)

0
1
2
3
4
5

In [9]:
for i in range(5):print(i)

0
1
2
3
4

**Assignment**:<br>
Write a single line for loop that prints a list of strings

In [10]:
for i in ('a','b','c','d'):print(i)

a
b
c
d

**More complex single line for loops**

In [11]:
for i in range(5):
  if i<3:
    j=i*4
  else:
    j=-1
  print(j)

0
4
8
-1
-1

In [ ]:
for i in range(5):
  print(i*4 if i<3 else -1)

In [12]:
for i in range(5):print(i*4 if i<3 else -1)

0
4
8
-1
-1

In [35]:
for item in range(0,len(list1),2):
    print(item)

0
2
4

In [36]:
len(list1)

6

In [41]:
suma = 8
list1 = [1,5,9,8,7,4,6]
list2 = [2,6,4,9,3,4,5]
resultado = []
for numero_list1 in range(0,len(list1),2):
    for numero_list2 in range(0,len(list2),2):
        if (numero_list1 + numero_list2) == suma:
            resultado.append([numero_list1, numero_list2])
resultado

[[2, 6], [4, 4], [6, 2]]

In [ ]:
numbers = [8,34,54,67,66,98,2,4,3,45,123,234,345,52]
even_numbers = [num for num in numbers if not num % 2]
print(even_numbers)

**Assignment** <br>
Using a single line for loop,<br>
>read a list<br>
remove any non-numbers from the list<br>

In [42]:
other_list = ['pet', 'friend','computer','mug',725]
just_num = [i for i in other_list if isinstance(i,(int,float))]
just_num

[725]

In [43]:
other_list = ['pet', 'friend','computer','mug',725, 4.1, 8.3]
numbers = [i for i in other_list if type(i) == int]
numbers

[725]

In [ ]:
def remove_numbers(list_input):
  list_out =  [i for i in other_list if type(i) == int or type(i) == float]
  print(list_out)

remove_numbers(other_list)

**List Comprehension**<br>
List comprehension is a concise way of creating lists.<br>
<br>

list_name = [\<expression> for \<item> in \<collection> if \<expression>]

In [ ]:
cubes=[]
for i in range(5):
  cubes.append(i**3)
print(cubes)

In [ ]:
cubes = [i**3 for i in range(5)]
print(cubes)

Assignment<br>
Create a list using a single line for loop

In [ ]:
# new_list = [i*3/2 for i in range(5)]
new_list = ['a'+str(i) for i in range(5)]
new_list

In [ ]:
new_list2 = [i for i in range(8)]
new_list2

In [ ]:
#create list of strings (3), floats (2), ints (1)
def myfunction(date_type):
  return[x if date_type ==1 else float
         if date_type==2 else str(x) for x in range(5)]
print(myfunction(5))

In [ ]:
two_dim_list = [[x for x in range(5)] for y in range(2)]
print(two_dim_list)

Assignment<br>
Create a two dimensional list using a single line nested for loop

In [ ]:
#the first create a list, the second indicates how many times the list will  be repeated
two_lists = [[ 2*i+x for i in range(5)] for x in range(3)]
# two_lists = [[y**i for i in range(1,5)] for y in range(3)]
two_lists

In [44]:
numbers = [1,2,3,4,5,6]
coordinates = []
for i in numbers:
  for j in numbers:
    if i != j:
      coordinates.append((i,j))
print(coordinates)

[(1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5)]

In [45]:
coordinates = [(i,j) for i in numbers for j in numbers if i != j]
print(coordinates)

[(1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5)]

In [49]:
suma = 8
list1 = [1,5,9,5,7,4,6]
list2 = [2,6,4,9,3,4,5]
sums = [(i,j) for i in list1 for j in list2 if i+j==suma]
suma

8

**Assignment**

In [ ]:
integers = [x if x%2==0 else x-1 for x in range(15)]
print(integers)

In [ ]:
#@title 
integers=[]
for x in range(15):
  if x%2 == 0:
    integers.append(x)
  else:
    integers.append(x-1)

print(integers)

However, you can not use the else statement within the context part. When I executed this code snippet, I was surprised that it throws an error:

In [ ]:
# WRONG (INVALID SYNTAX)
lst = [x for x in range(10) if x%2==0 else x-1]
print(lst)