# **Dataclasses**

Dataclasses are similar to classes.<br>
Dataclasses were added to Python 3.7 to make it easier to use classes. <br>

Dataclasses have instantiation, comparing, and printing already implemented<br>

**A regular Python class**

In [ ]:
#creating a class called patient
class Patient:
  def __init__(self, name, pet_name,phone,payment_method):
    self.name=name
    self.pet_name=pet_name
    self.phone=phone
    self.payment_method=payment_method

  def __repr__(self):
    return ("employee (name={}, pet_name={}, phone={}, payment_method={} )"
            .format(self.name, self.pet_name, self.phone, self.payment_method))
    
  def __eq__(self, check):
    return ((self.name, self.pet_name, self.phone, self.payment_method) ==
           ((check.name, check.pet_name, check.phone, check.payment_method)))

In [ ]:
p1=Patient("Sam","Spot","408-555-4321","Visa")
p2=Patient("Toby","Rover","408-434-4321","Check")
p3=Patient("Carl","Lassie","408-666-4321","PayPal")

print(p1)
print(p1==p2)

**Create a class using dataclasses**

In [ ]:
from dataclasses import dataclass

In [ ]:
@dataclass
class Patient1:
  name: str
  pet_name: str
  phone:str
  payment_method:str

In [ ]:
p1=Patient1("Sam","Spot","408-555-4321","Visa")
p2=Patient1("Toby","Rover","408-434-4321","Check")
p3=Patient1("Carl","Lassie","408-666-4321","PayPal")

print(p1)
print(p1==p2)

**Assignment #1**<br>
1. Create a class using dataclasses
2. Name the class Customer
3. Add 3 members: 
>name a string <br>
>credit_limit a float,<br> 
number_cards an int<br>

4. Write code to check the class is working

In [ ]:
#Assignment 1
@dataclass
class Customer:
  name: str
  credit_limit: float
  number_card: int

In [ ]:
cust1 = Customer('Valeria', 1000, 3)
print(cust1)

**Using default values**<br>
1. Notice the import statement changes
2. Notice the default value statement

In [ ]:
#creating a class called patient
from dataclasses import dataclass, field

@dataclass
class Patient2:
  name: str
  pet_name: str
  phone:str
  
  #default values
  payment_method: str=field(default="Cash")

In [ ]:
p1=Patient2("Sam","Spot","408-555-4321","Visa")
p2=Patient2("Toby","Rover","408-434-4321","Check")
p3=Patient2("Carl","Lassie","408-666-4321")

print(p1)
print(p1==p2)

**Assignment #2**<br>
Change your Customer class to have a default credit_limit

In [ ]:
#Assignment 
@dataclass
class Customer:
  name: str
  # credit_limit: float
  number_card: int

  #default values
  credit_limit : float = field(default=5000)

In [ ]:
cust2 = Customer('Vale', 3)
print(cust2)

**Default Factory**<br>
Default factories accept a function and return the initial value of the field

In [ ]:
from dataclasses import dataclass, field

def get_pet_name():
  pet_name= "Unknown"
  return pet_name

@dataclass
class Patient3:
  name: str
  phone:str 
  pet_name: str #notice default_factory values go last
  
  
  #default values
  pet_name: str = field(default_factory=get_pet_name)
  payment_method: str=field(default="Cash")

In [ ]:
p1=Patient3("Sam","408-555-4321")
p2=Patient3("Toby","408-434-4321","Check") #What happens here?
p3=Patient3("Carl","408-666-4321")

print(p1)
print(p2)
print(p3)

**Assignment 3**<br>
To your customer class
1. Add a default_factory value for number of cards

In [ ]:
#Asssignment 3
from dataclasses import dataclass, field



def get_number_cards():

  munber= 1

  return munber



@dataclass

class Customer2:

  name: str

  number_cards:int = field(default_factory=get_number_cards)

  credit_limit: float=field(default=200)



c1=Customer2("sam", 1, 200)

c2=Customer2("sam", 3)

c3=Customer2("sam")



print(c1)

print(c2)

print(c3)

print(c1==c2)

print(c1==c3)